<h1 style="text-align: center;">Расписание</h1>
<table style="height: 131px; width: 100%; border-collapse: collapse; border-style: groove; margin-left: auto; margin-right: auto;" border="2">
  <tbody>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 42.8571%; height: 16px; text-align: center;" colspan="3"><span style="font-family: 'andale mono', monospace; font-size: 14pt;">Бакалавриат</span></td>
      <td class="fr-blue" style="width: 28.5714%; height: 16px; text-align: center;" colspan="2"><span style="font-family: 'andale mono', monospace; font-size: 14pt;">Магистратура</span></td>
      <td class="fr-blue" style="width: 14.2857%; height: 32px; text-align: center;" rowspan="2">
        <h4>Промежуточная аттестация</h4>
      </td>
      <td class="fr-blue" style="width: 14.2857%; height: 32px; text-align: center;" rowspan="2">
        <h4>Предэкзаменационные консультации и государственные экзамены</h4>
      </td>
    </tr>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 14.2857%; height: 16px; text-align: center;"><b>ОФО</b></td>
      <td class="fr-blue" style="width: 14.2857%; height: 16px; text-align: center;"><b>ЗФО</b></td>
      <td class="fr-blue" style="width: 14.2857%; height: 16px; text-align: center;"><b>ОЗФО</b></td>
      <td class="fr-blue" style="width: 14.2857%; height: 16px; text-align: center;"><b>ОФО</b></td>
      <td class="fr-blue" style="width: 14.2857%; height: 16px; text-align: center;"><b>ЗФО</b></td>
    </tr>
    <tr style="height: 99px;">
      <td class="fr-blue" style="width: 14.2857%; height: 99px; text-align: left;">
        <p>[attachment=415:1-2-kursy_ofo_1-nedelja.pdf]</p>
        <p>[attachment=416:1-2-kursy_ofo_2-nedelja.pdf]&nbsp;</p>
        <p></p>
        <p>[attachment=417:3-4-kursy_ofo_1-nedelja.pdf]&nbsp;</p>
        <p>[attachment=418:3-4-kursy_ofo_2-nedelja.pdf]&nbsp;&nbsp;</p>
      </td>
      <td class="fr-blue" style="width: 14.2857%; height: 99px; text-align: left;">
        <p>[attachment=426:2741-sessija-01_09-14_09_2019.pdf]&nbsp;</p>
        <p>[attachment=428:2645-sessija-02_09-15_09_2019.pdf]&nbsp;</p>
        <p>[attachment=427:2601_2602-sessija-09_09-18_09_2019.pdf]&nbsp;</p>
      </td>
      <td class="fr-blue" style="width: 14.2857%; height: 99px; text-align: left;">
        <p>[attachment=421:2901-sentjabr.pdf]&nbsp;</p>
        <p>[attachment=422:2945-sentjabr.pdf]&nbsp;</p>
        <p></p>
        <p>[attachment=423:30013002-sentjabr.pdf]&nbsp;</p>
        <p>[attachment=425:3045-3046-sentjabr.pdf]&nbsp;</p>
        <p>[attachment=424:3041-sentjabr.pdf]&nbsp;</p>
      </td>
      <td class="fr-blue" style="width: 14.2857%; height: 99px; text-align: left;">
        <p>[attachment=419:811m_812m_711m_712m-sentjabr.pdf]&nbsp;</p>
        <p>[attachment=420:821_822_721-sentjabr.pdf]&nbsp;</p>
      </td>
      <td class="fr-blue" style="width: 14.2857%; height: 99px; text-align: center;"></td>
      <td class="fr-blue" style="width: 14.2857%; height: 99px; text-align: center;"></td>
      <td class="fr-blue" style="width: 14.2857%; height: 99px; text-align: center;"></td>
    </tr>
  </tbody>
</table>
<p></p>
<h1 style="text-align: center;">Режим занятий обучающихся</h1>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">1 пара : 10:00 - 11:30</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">2 пара : 11:40 - 13:10</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">3 пара : 13:50 - 15:20</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">4 пара : 15:30 - 17:00</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">5 пара : 17:10 - 18:40</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">6 пара : 18:50 - 20:20</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">7 пара : 20:30 - 22:00</span></p>