<h1 style="text-align: center;">Расписание</h1>
<table style="border-style: groove; width: 100%; height: 131px; margin-right: auto; margin-left: auto; border-collapse: collapse;" border="2">
  <tbody>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 42.82%; height: 16px; text-align: center;" colspan="3"><span style="font-family: 'andale mono', monospace; font-size: 14pt;">Бакалавриат</span></td>
      <td class="fr-blue" style="width: 28.55%; height: 16px; text-align: center;" colspan="2"><span style="font-family: 'andale mono', monospace; font-size: 14pt;">Магистратура</span></td>
      <td class="fr-blue" style="width: 14.28%; height: 32px; text-align: center;" rowspan="2">
        <h4>Промежуточная аттестация</h4>
      </td>
      <td class="fr-blue" style="width: 14.28%; height: 32px; text-align: center;" rowspan="2">
        <h4>Предэкзаменационные консультации и государственные экзамены</h4>
      </td>
    </tr>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 15.38%; height: 16px; text-align: center;"><b>ОФО</b></td>
      <td class="fr-blue" style="width: 13.4%; height: 16px; text-align: center;"><b>ЗФО</b></td>
      <td class="fr-blue" style="width: 14.03%; height: 16px; text-align: center;"><b>ОЗФО</b></td>
      <td class="fr-blue" style="width: 14.46%; height: 16px; text-align: center;"><b>ОФО</b></td>
      <td class="fr-blue" style="width: 14.09%; height: 16px; text-align: center;"><b>ЗФО</b></td>
    </tr>
    <tr style="height: 99px;">
      <td class="fr-blue" style="width: 15.38%; height: 99px; text-align: left;">
        <p>[attachment=789:2-kurs_ofo_1-nedelja.pdf]</p>
        <p>[attachment=799:2-kurs_ofo_2-nedelja.pdf]</p>
        <p>[attachment=808:2-kursy_ofo_3-nedelja.pdf]&nbsp;</p>
        <p>[attachment=813:2_-kurs_ofo_4-nedelja.pdf]&nbsp;</p>
        <p></p>
        <p>[attachment=791:3_4-kursy_ofo_1-nedelja.pdf]&nbsp;</p>
        <p>[attachment=792:3_4-kursy_ofo_2-nedelja.pdf]&nbsp;</p>
        <p>[attachment=810:3_4-kursy_ofo_3-nedelja.pdf]&nbsp;</p>
        <p>[attachment=811:3_4-kursy_ofo_4-nedelja.pdf]&nbsp;&nbsp;</p>
        <p></p>
      </td>
      <td class="fr-blue" style="width: 13.4%; height: 99px; text-align: left;">
        <p>[attachment=807:4-kurs_2845_2846_sessija_15_09-21_090008.pdf]&nbsp;</p>
        <p></p>
        <p>[attachment=805:1-kurs_3141_sessija_15_09-25_090009.pdf]&nbsp;</p>
        <p>[attachment=806:1-kurs_3142_sessija_15_09-25_090010.pdf]&nbsp;</p>
        <p></p>
      </td>
      <td class="fr-blue" style="width: 14.03%; height: 99px; text-align: left;">
        <p>&nbsp;&nbsp;&nbsp; [attachment=793:2-kurs_3101_3102_sentjabr.pdf]&nbsp;</p>
        <p>[attachment=794:2-kurs_3145_3146_3147_3148_sentjabr.pdf]&nbsp;</p>
        <p></p>
        <p>[attachment=795:3-kurs_3001_3002_sentjabr.pdf]&nbsp;</p>
        <p>[attachment=796:3-kurs_3041_sentjabr.pdf]&nbsp;</p>
        <p>[attachment=797:3-kurs_3045_3046_sentjabr.pdf]&nbsp;</p>
        <p></p>
        <p>[attachment=798:4-kurs_2901_sentjabr.pdf]&nbsp;</p>
      </td>
      <td class="fr-blue" style="width: 14.46%; height: 99px; text-align: left;">
        <p></p>
      </td>
      <td class="fr-blue" style="width: 14.09%; height: 99px; text-align: center;">
        <p style="text-align: left;"></p>
      </td>
      <td class="fr-blue" style="width: 14.28%; height: 99px; text-align: center;">
        <p></p>
      </td>
      <td class="fr-blue" style="width: 14.28%; height: 99px; text-align: center;">
        <p></p>
      </td>
    </tr>
  </tbody>
</table>
<p></p>
<h1 style="text-align: center;">Режим занятий обучающихся</h1>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">1 пара : 10:00 - 11:30</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">2 пара : 11:40 - 13:10</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">3 пара : 13:50 - 15:20</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">4 пара : 15:30 - 17:00</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">5 пара : 17:10 - 18:40</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">6 пара : 18:50 - 20:20</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">7 пара : 20:30 - 22:00</span></p>