<h1 style="text-align: center;">Расписание</h1>
<table style="border-style: groove; width: 100%; height: 131px; margin-right: auto; margin-left: auto; border-collapse: collapse;" border="2">
  <tbody>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 42.82%; height: 16px; text-align: center;" colspan="3"><span style="font-family: 'andale mono', monospace; font-size: 14pt;">Бакалавриат</span></td>
      <td class="fr-blue" style="width: 28.56%; height: 16px; text-align: center;" colspan="2"><span style="font-family: 'andale mono', monospace; font-size: 14pt;">Магистратура</span></td>
      <td class="fr-blue" style="width: 14.28%; height: 32px; text-align: center;" rowspan="2">
        <h4>Промежуточная аттестация</h4>
      </td>
      <td class="fr-blue" style="width: 14.28%; height: 32px; text-align: center;" rowspan="2">
        <h4>Предэкзаменационные консультации и государственные экзамены</h4>
      </td>
    </tr>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 15.38%; height: 16px; text-align: center;"><b>ОФО</b></td>
      <td class="fr-blue" style="width: 13.3%; height: 16px; text-align: center;"><b>ЗФО</b></td>
      <td class="fr-blue" style="width: 14.14%; height: 16px; text-align: center;"><b>ОЗФО</b></td>
      <td class="fr-blue" style="width: 14.28%; height: 16px; text-align: center;"><b>ОФО</b></td>
      <td class="fr-blue" style="width: 14.28%; height: 16px; text-align: center;"><b>ЗФО</b></td>
    </tr>
    <tr style="height: 99px;">
      <td class="fr-blue" style="width: 15.38%; height: 99px; text-align: left;">
        <p>[attachment=633:1-2-kursy_ofo_23-nedelja.pdf] [attachment=634:1-2-kursy_ofo_24-nedelja.pdf]</p>
        <p>[attachment=658:1-2-kursy_ofo_25-nedelja.pdf]&nbsp;</p>
        <p>[attachment=659:1-2-kursy_ofo_26-nedelja.pdf]&nbsp;</p>
        <p>[attachment=660:1-2-kursy_ofo_27-nedelja.pdf]&nbsp;</p>
        <p></p>
        <p>[attachment=635:3-4-kursy_ofo_23-nedelja.pdf] [attachment=636:3-4-kursy_ofo_24-nedelja.pdf]&nbsp;</p>
        <p>[attachment=661:3-4-kursy_ofo_25-nedelja.pdf]&nbsp;</p>
        <p>[attachment=662:3-4-kursy_ofo_26-nedelja.pdf]&nbsp;</p>
        <p>[attachment=663:3-4-kursy_ofo_27-nedelja.pdf]&nbsp;</p>
      </td>
      <td class="fr-blue" style="width: 13.3%; height: 99px; text-align: left;">
        <p>[attachment=639:2745-sessija-26_01-08_02_2020.pdf]&nbsp;</p>
        <p>[attachment=638:2701_sessija_10_02-23_02_2020.pdf]&nbsp;</p>
        <p>[attachment=664:2701_teorija_25_02-10_03_2020.pdf]&nbsp;</p>
        <p>[attachment=637:2401_2402_sessija_09_02-22_02_2020.pdf]&nbsp;</p>
        <p>[attachment=665:2501_2502_sessija_11_03-21_03_2020.pdf]&nbsp;</p>
        <p>[attachment=666:3141_teorija_02_03-07_03_2020.pdf]&nbsp;</p>
        <p>[attachment=667:3141_sessija_10_03-22_03_2020.pdf]&nbsp;</p>
        <p>[attachment=668:3142_sessija_10_03-22_03_2020.pdf]&nbsp;</p>
        <p></p>
        <p></p>
      </td>
      <td class="fr-blue" style="width: 14.14%; height: 99px; text-align: left;">
        <p>&nbsp;&nbsp; [attachment=649:3101_3102_janvar.pdf]&nbsp;</p>
        <p>[attachment=648:3101_3102_fevral.pdf]</p>
        <p>[attachment=674:3101_3102_mart.pdf]&nbsp;&nbsp;</p>
        <p>[attachment=651:3145_3146_3147_3148_janvar.pdf]</p>
        <p>[attachment=650:3145_3146_3147_3148_fevral.pdf]</p>
        <p>[attachment=675:3145_3146_3147_3148_mart.pdf]&nbsp;&nbsp;</p>
        <p></p>
        <p>[attachment=643:3001_3002_fevral.pdf]</p>
        <p>[attachment=671:3001_3002_mart.pdf]&nbsp;&nbsp;</p>
        <p>[attachment=645:3041_janvar.pdf]&nbsp;</p>
        <p>[attachment=644:3041_fevral.pdf]&nbsp;</p>
        <p>[attachment=672:3041_mart.pdf]&nbsp;</p>
        <p>[attachment=647:3045_3046_janvar.pdf]&nbsp;</p>
        <p>[attachment=646:3045_3046_fevral.pdf]</p>
        <p>[attachment=673:3045_3046_mart.pdf]&nbsp;&nbsp;</p>
        <p></p>
        <p>[attachment=640:2901_fevral.pdf]&nbsp;</p>
        <p>[attachment=669:2901_mart.pdf]&nbsp;</p>
        <p>[attachment=642:2945_janvar.pdf]&nbsp;</p>
        <p>[attachment=641:2945_fevral.pdf]&nbsp;</p>
        <p>[attachment=670:2945_mart.pdf]&nbsp;&nbsp;</p>
        <p>&nbsp;</p>
        <p></p>
      </td>
      <td class="fr-blue" style="width: 14.28%; height: 99px; text-align: left;">
        <p></p>
      </td>
      <td class="fr-blue" style="width: 14.28%; height: 99px; text-align: center;">
        <p style="text-align: left;"></p>
      </td>
      <td class="fr-blue" style="width: 14.28%; height: 99px; text-align: center;">
        <p></p>
        <p></p>
        <p></p>
      </td>
      <td class="fr-blue" style="width: 14.28%; height: 99px; text-align: center;">
        <p>[attachment=549:raspisanie-gia-avg-sent_-2019_2301-2302-2641-1.pdf]&nbsp;</p>
        <p></p>
        <p>[attachment=676:2401_2402_2745_gos_-attest_25_03_26_03_20.pdf]&nbsp;</p>
        <p></p>
        <p></p>
      </td>
    </tr>
  </tbody>
</table>
<p></p>
<h1 style="text-align: center;">Режим занятий обучающихся</h1>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">1 пара : 10:00 - 11:30</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">2 пара : 11:40 - 13:10</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">3 пара : 13:50 - 15:20</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">4 пара : 15:30 - 17:00</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">5 пара : 17:10 - 18:40</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">6 пара : 18:50 - 20:20</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">7 пара : 20:30 - 22:00</span></p>