<h1 style="text-align: center;">Расписание</h1>
<table style="border-style: groove; width: 100%; height: 131px; margin-right: auto; margin-left: auto; border-collapse: collapse;" border="2">
  <tbody>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 42.83%; height: 16px; text-align: center;" colspan="3"><span style="font-family: 'andale mono', monospace; font-size: 14pt;">Бакалавриат</span></td>
      <td class="fr-blue" style="width: 28.56%; height: 16px; text-align: center;" colspan="2"><span style="font-family: 'andale mono', monospace; font-size: 14pt;">Магистратура</span></td>
      <td class="fr-blue" style="width: 14.28%; height: 32px; text-align: center;" rowspan="2">
        <h4>Промежуточная аттестация</h4>
      </td>
      <td class="fr-blue" style="width: 14.28%; height: 32px; text-align: center;" rowspan="2">
        <h4>Предэкзаменационные консультации и государственные экзамены</h4>
      </td>
    </tr>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 15.38%; height: 16px; text-align: center;"><b>ОФО</b></td>
      <td class="fr-blue" style="width: 13.3%; height: 16px; text-align: center;"><b>ЗФО</b></td>
      <td class="fr-blue" style="width: 14.14%; height: 16px; text-align: center;"><b>ОЗФО</b></td>
      <td class="fr-blue" style="width: 14.28%; height: 16px; text-align: center;"><b>ОФО</b></td>
      <td class="fr-blue" style="width: 14.28%; height: 16px; text-align: center;"><b>ЗФО</b></td>
    </tr>
    <tr style="height: 99px;">
      <td class="fr-blue" style="width: 15.38%; height: 99px; text-align: left;">
        <p>[attachment=415:1-2-kursy_ofo_1-nedelja.pdf]</p>
        <p>[attachment=609:1-2-kursy_ofo_2-nedelja.pdf]&nbsp;</p>
        <p>[attachment=610:1-2-kursy_ofo_3-nedelja.pdf]&nbsp;</p>
        <p>[attachment=611:1-2-kursy_ofo_4-nedelja.pdf]&nbsp;</p>
        <p>[attachment=612:1-2-kursy_ofo_5-nedelja.pdf]&nbsp;</p>
        <p>[attachment=613:1-2-kursy_ofo_6-nedelja.pdf]&nbsp;</p>
        <p>[attachment=614:1-2-kursy_ofo_7-nedelja.pdf]&nbsp;</p>
        <p>[attachment=615:1-2-kursy_ofo_8-nedelja.pdf]&nbsp;</p>
        <p>[attachment=524:1-2-kursy_ofo_9-nedelja.pdf]&nbsp;</p>
        <p>[attachment=525:1-2-kursy_ofo_10-nedelja.pdf]&nbsp;</p>
        <p>[attachment=616:1-2-kursy_ofo_11-nedelja.pdf]&nbsp;</p>
        <p>[attachment=617:1-2-kursy_ofo_12-nedelja.pdf]&nbsp;</p>
        <p>[attachment=618:1-2-kursy_ofo_13-nedelja.pdf]&nbsp;</p>
        <p>[attachment=619:1-2-kursy_ofo_14-nedelja.pdf]&nbsp;</p>
        <p>[attachment=620:1-2-kursy_ofo_15-nedelja.pdf]&nbsp;</p>
        <p>[attachment=621:1-2-kursy_ofo_16-nedelja.pdf]&nbsp;</p>
        <p>[attachment=622:1-2-kursy_ofo_17-nedelja.pdf]&nbsp;</p>
        <p></p>
        <p>[attachment=417:3-4-kursy_ofo_1-nedelja.pdf]&nbsp;</p>
        <p>[attachment=418:3-4-kursy_ofo_2-nedelja.pdf]&nbsp;</p>
        <p>[attachment=445:3-4-kursy_ofo_3-nedelja.pdf]&nbsp;</p>
        <p>[attachment=469:3-4-kursy_ofo_4-nedelja.pdf]&nbsp;</p>
        <p>[attachment=470:3-4-kursy_ofo_5-nedelja.pdf]&nbsp;</p>
        <p>[attachment=471:3-4-kursy_ofo_6-nedelja.pdf]</p>
        <p>[attachment=534:3-4-kursy_ofo_7-nedelja.pdf]&nbsp;</p>
        <p>[attachment=535:3-4-kursy_ofo_8-nedelja.pdf]&nbsp;</p>
        <p>[attachment=536:3-4-kursy_ofo_9-nedelja.pdf]&nbsp;</p>
        <p>[attachment=537:3-4-kursy_ofo_10-nedelja.pdf]&nbsp;</p>
        <p>[attachment=538:3-4-kursy_ofo_11-nedelja.pdf]&nbsp;</p>
        <p>[attachment=539:3-4-kursy_ofo_12-nedelja.pdf]&nbsp;</p>
        <p>[attachment=540:3-4-kursy_ofo_13-nedelja.pdf]&nbsp;</p>
        <p>[attachment=541:3-4-kursy_ofo_14-nedelja.pdf]&nbsp;</p>
        <p>[attachment=542:3-4-kursy_ofo_15-nedelja.pdf]&nbsp;</p>
        <p>[attachment=543:3-4-kursy_ofo_16-nedelja.pdf]&nbsp;</p>
        <p>[attachment=544:3-4-kursy_ofo_17-nedelja.pdf]&nbsp;&nbsp;&nbsp;</p>
      </td>
      <td class="fr-blue" style="width: 13.3%; height: 99px; text-align: left;">
        <p>[attachment=426:2741-sessija-01_09-14_09_2019.pdf]&nbsp;</p>
        <p>[attachment=428:2645-sessija-02_09-15_09_2019.pdf]</p>
        <p>[attachment=498:2645-teorija.pdf]&nbsp;</p>
        <p>[attachment=427:2601_2602-sessija-09_09-18_09_2019.pdf]&nbsp;</p>
        <p>[attachment=497:2601_2602-teorija.pdf]&nbsp;</p>
        <p>[attachment=446:2701-sessija-24_09-05_10_2019.pdf]&nbsp;</p>
        <p>[attachment=499:2701-teorija.pdf]&nbsp;</p>
        <p>[attachment=447:2501_2502-sessija-24_09-05_10_2019.pdf]&nbsp;</p>
        <p>[attachment=496:2501_2502-teorija.pdf]&nbsp;</p>
        <p>[attachment=495:2401_2402-sessija-29_09-11_11_2019.pdf]&nbsp;</p>
        <p>[attachment=547:2401_2402-teorija-s-12_11_19.pdf]&nbsp;</p>
        <p>[attachment=548:2745-sessija-05_11-16_11_2019.pdf]&nbsp;</p>
      </td>
      <td class="fr-blue" style="width: 14.14%; height: 99px; text-align: left;">
        <p>[attachment=503:2901-sentjabr.pdf]&nbsp;</p>
        <p>[attachment=502:2901-oktjabr.pdf]&nbsp;</p>
        <p>[attachment=501:2901-nojabr.pdf]&nbsp;</p>
        <p>[attachment=500:2901-dekabr.pdf]</p>
        <p>[attachment=422:2945-sentjabr.pdf]&nbsp;</p>
        <p>[attachment=473:2945-oktjabr.pdf]&nbsp;</p>
        <p>[attachment=572:2945-nojabr.pdf]&nbsp;</p>
        <p>[attachment=545:2945-dekabr.pdf]&nbsp;</p>
        <p></p>
        <p></p>
        <p>[attachment=581:30013002-sentjabr.pdf]&nbsp;</p>
        <p>[attachment=580:3001-3002-oktjabr.pdf]&nbsp;</p>
        <p>[attachment=579:3001-3002-nojabr.pdf]&nbsp;</p>
        <p>[attachment=578:3001-3002-dekabr.pdf]&nbsp;</p>
        <p>[attachment=425:3045-3046-sentjabr.pdf]&nbsp;</p>
        <p>[attachment=582:3045-3046-oktjabr.pdf]&nbsp;&nbsp;</p>
        <p>[attachment=509:3045-3046-nojabr.pdf]&nbsp;</p>
        <p>[attachment=508:3045-3046-dekabr.pdf]&nbsp;</p>
        <p>[attachment=424:3041-sentjabr.pdf]&nbsp;</p>
        <p>[attachment=475:3041-oktjabr.pdf]&nbsp;</p>
        <p>[attachment=573:3041-nojabr.pdf]&nbsp;</p>
        <p>[attachment=506:3041-dekabr.pdf]&nbsp;</p>
        <p></p>
        <p>[attachment=575:3101_3102_nojabr.pdf]</p>
        <p>[attachment=574:3101_3102_dekabr.pdf]&nbsp;</p>
        <p>[attachment=623:3101_3102_janvar.pdf]&nbsp;</p>
        <p>[attachment=577:3145_3146_3147_3148_nojabr.pdf]&nbsp;</p>
        <p>[attachment=576:3145_3146_3147_3148_dekabr.pdf]</p>
        <p>[attachment=624:3145_3146_3147_3148_janvar.pdf]&nbsp;&nbsp;&nbsp;</p>
        <p>&nbsp;</p>
        <p></p>
      </td>
      <td class="fr-blue" style="width: 14.28%; height: 99px; text-align: left;">
        <p>[attachment=567:811m_812m_711m_712m_sentjabr.pdf]&nbsp;</p>
        <p>[attachment=566:811m_812m_711m_712m_oktjabr.pdf]&nbsp;</p>
        <p>[attachment=565:811m_812m_711m_712m_nojabr.pdf]&nbsp;</p>
        <p>[attachment=564:811m_812m_711m_712m_dekabr.pdf]&nbsp;</p>
        <p></p>
        <p>[attachment=571:821_822_721-sentjabr_2.pdf]&nbsp;</p>
        <p>[attachment=570:821_822_721-oktjabr_2.pdf]&nbsp;</p>
        <p>[attachment=569:821_822_721-nojabr_2.pdf]&nbsp;</p>
        <p>[attachment=589:821_822_721-dekabr.pdf]&nbsp;&nbsp;</p>
      </td>
      <td class="fr-blue" style="width: 14.28%; height: 99px; text-align: center;">
        <p style="text-align: left;">[attachment=514:711mz_712mz_15_10-23_10_19.pdf]&nbsp;</p>
        <p style="text-align: left;">[attachment=515:711mz_712mz_teorija-s-24_10.pdf]&nbsp;</p>
        <p style="text-align: left;">[attachment=516:721mz_15_10-23_10_19.pdf]&nbsp;</p>
        <p style="text-align: left;">[attachment=517:721mz_teorija-s-24_10.pdf]&nbsp;</p>
        <p style="text-align: left;">[attachment=518:811mz_21_10-27_10_19.pdf]&nbsp;</p>
        <p style="text-align: left;">[attachment=519:811mz_teorija-s-28_10.pdf]&nbsp;</p>
      </td>
      <td class="fr-blue" style="width: 14.28%; height: 99px; text-align: center;">
        <p>[attachment=608:sessija_janvar_2020.pdf]&nbsp;</p>
        <p>&nbsp;</p>
        <p>[attachment=603:2901_sessija_09_01-22_01_20.pdf]&nbsp;</p>
        <p>[attachment=604:2945_sessija_09_01-26_01_20.pdf]&nbsp;</p>
        <p>[attachment=605:3001_3002_sessija_09_01-22_01_20.pdf]&nbsp;</p>
        <p>[attachment=606:3041_sessija_09_01-26_01_20.pdf]&nbsp;</p>
        <p>[attachment=607:3045_3046_sessija_09_01-26_01_20.pdf]&nbsp;</p>
        <p></p>
        <p></p>
      </td>
      <td class="fr-blue" style="width: 14.28%; height: 99px; text-align: center;">[attachment=549:raspisanie-gia-avg-sent_-2019_2301-2302-2641-1.pdf]&nbsp;</td>
    </tr>
  </tbody>
</table>
<p></p>
<h1 style="text-align: center;">Режим занятий обучающихся</h1>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">1 пара : 10:00 - 11:30</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">2 пара : 11:40 - 13:10</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">3 пара : 13:50 - 15:20</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">4 пара : 15:30 - 17:00</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">5 пара : 17:10 - 18:40</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">6 пара : 18:50 - 20:20</span></p>
<p style="text-align: center;"><span style="font-family: 'andale mono', monospace; font-size: 18pt;">7 пара : 20:30 - 22:00</span></p>