<br>
<div itemprop="osnovSveden" style="text-align: center;"><b><span
            style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 14pt;">Основные сведения</span></b>
</div>
<div itemprop="osnovSveden"></div>
<div itemprop="osnovSveden"></div>
<div itemprop="osnovSveden"><br><span style="font-size: 12pt;"><u><span
                style="font-family: 'times new roman', times, serif;">Дата создания образовательной организации: <span
                    class="MsoNormal" itemprop="regDate">7 июля 1997 года.</span></span></u></span>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;</p>
    <h4 style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">Учредители
        образовательной организации:</h4>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;</p>
    <table border="1" cellpadding="0" cellspacing="0" class="MsoTableGrid fr-solid-borders" style="width: 100%;">
        <tbody>
            <tr>
                <td style="text-align: center; width: 123.2pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top"
                    width="16%">Наименование учредителя</td>
                <td style="width: 123.2pt; vertical-align: top; text-align: center;" valign="top" width="16%"><span
                        class="MsoNormal" style="text-align: center;"><span style="background: #FFFFFF;">Фамилия, имя,
                            отчество учредителя (руководителя учредителя) (ей) образовательной организации</span></span>
                </td>
                <td style="width: 123.2pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%">
                    <div style="margin-bottom: 15pt; text-align: center;">Адрес местонахождения учредителя(ей)</div>
                    <div style="text-align: center;">&nbsp;</div>
                </td>
                <td style="width: 123.2pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%">
                    <div style="margin-bottom: 15pt; text-align: center;">Контактные телефоны</div>
                    <div style="text-align: center;">&nbsp;</div>
                </td>
                <td style="width: 123.25pt; vertical-align: top; text-align: center;" valign="top" width="16%"><span
                        class="MsoNormal" style="text-align: center;"><span style="background: #FFFFFF;">Адрес
                            электронной почты</span></span></td>
                <td style="width: 123.25pt; vertical-align: top; text-align: center;" valign="top" width="16%"><span
                        class="MsoNormal" style="text-align: center;"><span style="background: #FFFFFF;">Адрес сайта
                            учредителя(ей) в сети &laquo;Интернет&raquo;</span></span></td>
            </tr>
            <tr itemprop="uchredLaw">
                <td style="width: 123.2pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%"><span
                        class="MsoNormal" itemprop="nameUchred">Гражданин Российской Федерации</span></td>
                <td style="width: 123.2pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%"><span
                        class="MsoNormal" itemprop="fullnameUchred">Зыбина Ольга Станиславовна</span></td>
                <td style="width: 123.2pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%"><span
                        class="MsoNormal" itemprop="addressUchred">192012, Санкт-Петербург, проспект Обуховской обороны,
                        дом 114, лит. А.</span></td>
                <td style="width: 123.2pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%"><span
                        class="MsoNormal" itemprop="telUchred">тел.: +7 (812) 380-00-47</span></td>
                <td style="width: 123.25pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%"><a
                        href="mailto:academy@jurac.ru"><span itemprop="mailUchred">academy@jurac.ru</span></a></td>
                <td style="width: 123.25pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%"><a
                        href="https://jurac.ru/rector.html"><span
                            itemprop="websiteUchred">jurac.ru/rector.html</span></a></td>
            </tr>
            <tr itemprop="uchredLaw">
                <td style="width: 123.2pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%"><span
                        itemprop="nameUchred">ОАО &laquo;ТАЛИОН&raquo;</span></td>
                <td style="width: 123.2pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%"><span
                        class="MsoNormal" itemprop="fullnameUchred">Ебралидзе Александр Иосифович</span></td>
                <td style="width: 123.2pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%"><span
                        class="MsoNormal" itemprop="addressUchred">191186, Санкт-Петербург, ул. Большая Морская, дом 14,
                        лит. А.</span></td>
                <td style="width: 123.2pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%">
                    <p><span class="MsoNormal" itemprop="telUchred">тел.: +7 (812) 315-60-11</span></p>
                    <p><span class="MsoNormal" itemprop="telUchred">факс: +7 (812) 315-92-87</span></p>
                </td>
                <td style="width: 123.25pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%"><a
                        href="https://taleon.ru/">https://taleon.ru/</a></td>
                <td style="width: 123.25pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="16%"><a
                        href="https://taleon.ru/">https://taleon.ru/</a></td>
            </tr>
        </tbody>
    </table>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;</p>
    <div itemprop="address">
        <h4 style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">
            Местонахождение образовательной организации:</h4>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;
        </p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">192012,
            Санкт-Петербург, Проспект Обуховской обороны, дом 114, лит. А.</p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;
        </p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">Адрес
            (место нахождения) единоличного исполнительного органа образовательной организации:</p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;
        </p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">192012,
            Санкт-Петербург, Проспект Обуховской обороны, дом 114, лит. А.</p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;
        </p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;
        </p>
    </div>
    <h4 style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">Информация
        о режиме и графике работы образовательной организации:</h4>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;</p>
    <div itemprop="workTime">
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">В
            академии установлен режим работы:</p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;
        </p>
        <table border="1" cellpadding="1" cellspacing="1" style="width: 750px;">
            <tbody>
                <tr>
                    <td style="background-color: #008000;"><strong>ПН</strong></td>
                    <td style="background-color: #008000;"><strong>ВТ</strong></td>
                    <td style="background-color: #008000;"><strong>СР</strong></td>
                    <td style="background-color: #008000;"><strong>ЧТ</strong></td>
                    <td style="background-color: #008000;"><strong>ПТ</strong></td>
                    <td style="background-color: #008000;"><strong>СБ</strong></td>
                    <td style="background-color: #ff0000;"><strong>ВС</strong></td>
                </tr>
                <tr>
                    <td>9:30-18:00</td>
                    <td>9:30-18:00</td>
                    <td>9:30-18:00</td>
                    <td>9:30-18:00</td>
                    <td>9:30-18:00</td>
                    <td>9:30-17:00</td>
                    <td>Выходной</td>
                </tr>
            </tbody>
        </table>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;
        </p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">Режим
            работы постоянного состава установлен исходя из продолжительности рабочей недели</p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">- для
            работников с 5-дневной рабочей неделей: 9:30-18:00</p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">- для
            работников с 6-дневной рабочей неделей: 9:30-17:00(ПН-ПТ); 9:30-15:00(СБ)</p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">
            Работники деканатов в период зачётно-экзаменационной и установочной сессий работают: по утверждённому
            графику</p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">
            Обеденный перерыв</p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">- для
            работников Академии: 12:30-13:00</p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">- для
            дежурных администраторов и гардеробщиков предоставляется возможность приёма пищи: в течение рабочего дня</p>
        <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;
        </p>
    </div>
    <h4 style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">Контактная
        информация:</h4>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;</p>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">Контактные
        телефоны:</p>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;"><span
            itemprop="telephone">+7 (812) 677-83-01</span></p>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">Ректорат:
    </p>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">+7 (812)
        380-00-47</p>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">Приёмная
        комиссия:</p>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">+7 (812)
        677-00-07</p>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">+7 (921)
        951-34-33</p>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">Факс:</p>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;"><span
            itemprop="fax">+7 (812) 380-00-47</span></p>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">E-mail:</p>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;"><span
            itemprop="email">academy@jurac.ru</span></p>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;"><a
            href="mailto:rektorat@jurac.ru">rektorat@jurac.ru</a></p>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;</p>
    <h4 style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">Информация
        о филиалах и представительствах образовательной организации:</h4>
    <p style="margin: 0cm; margin-bottom: 0.0001pt; font-size: 16px; font-family: 'Times New Roman', serif;">&nbsp;</p>
    <div itemprop="filInfo">
        <table border="1" cellpadding="0" cellspacing="0" class="MsoTableGrid fr-solid-borders" style="width: 34%;">
            <tbody>
                <tr>
                    <td style="width: 303.1pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="100%"><span
                            class="MsoNormal"><span itemprop="nameFil">У образовательной организации нет филиалов</span>
                        </span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div itemprop="repInfo">
        <table border="1" cellpadding="0" cellspacing="0" class="MsoTableGrid fr-solid-borders" style="width: 34%;">
            <tbody>
                <tr>
                    <td style="width: 303.1pt; padding: 0cm 5.4pt; vertical-align: top;" valign="top" width="100%"><span
                            class="MsoNormal"><span itemprop="nameRep">У образовательной организации нет
                                представительств</span> </span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div itemprop="copy"></div>