<br>
<h1 style="text-align: center;"><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 14pt;">Документы</span></h1>
<p></p>
<div itemprop="copyDoc">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Свидетельство о профессионально-общественной аккредитации</span></td>
                <td>
                    <p><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/obsh_akk.pdf" target="_blank" rel="noopener">Открыть</a></p>
                </td>
            </tr>
            <tr>
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Устав образовательной организации</span></td>
                <td>
                    <div itemprop="ustavDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/1-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Лицензия на осуществление образовательной деятельности (с приложениями)</span></p>
                </td>
                <td>
                    <div itemprop="licenseDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/2-doc-new.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr>
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Свидетельство о государственной аккредитации (с приложениями)</span></td>
                <td>
                    <div itemprop="accreditationDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/3new_doc1.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr>
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">План финансово-хозяйственной деятельности образовательной организации</span></td>
                <td>
                    <div itemprop="finPlanDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-budget/plan_fiz_hoz_2020.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <hr>
</div>
<div itemprop="docLink"><br>
    <table class="table table-bordered" style="height: 716px;">
        <tbody>

            <tr style="height: 48px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Правила приема на 2020 - 2021 учебный год</span></td>
                <td style="height: 48px; width: 394px;">
                    <div itemprop="priemDocLink"><a href="https://abiturient.jurac.ru/abitur/normative-doc/">Перейти</a></div>
                    \
                </td>
            </tr>
            <tr style="height: 45px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Режим занятий обучающихся</span></td>
                <td style="height: 45px; width: 394px;">
                    <div itemprop="modeDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/rejim.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr style="height: 212px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Формы, периодичность и порядок текущего контроля успеваемости и промежуточной аттестации обучающихся</span></td>
                <td style="height: 212px; width: 394px;">
                    <div itemprop="tekKontrolDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-education/polog/04_new.pdf" target="_blank" rel="noopener">ПОЛОЖЕНИЕ о текущем контроле успеваемости.</a></div>
                    <div itemprop="tekKontrolDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-education/polog/05new.pdf" target="_blank" rel="noopener">ПОЛОЖЕНИЕ о порядке проведения промежуточной аттестации обучающихся Автономной некоммерческой организации высшего образования &laquo;Санкт-Петербургская юридическая академия&raquo;</a></div>
                    <div itemprop="tekKontrolDocLink">
                        <hr>
                    </div>
                    <div itemprop="tekKontrolDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-education/polog/GIA_new.pdf" target="_blank" rel="noopener">ПОЛОЖЕНИЕ о порядке проведения государственной итоговой аттестации по образовательным программам высшего образования &ndash; программам бакалавриата, программам специалитета и программам магистратуры обучающихся в Санкт-Петербургской юридической академии</a></div>
                    <div itemprop="tekKontrolDocLink">
                        <hr>
                    </div>
                    <p><a href="https://jurac.ru/uploads/DOCUMENTS/sved-education/polog/08_new.pdf" target="_blank" rel="noopener">ПОЛОЖЕНИЕ о порядке проведения государственной итоговой аттестации по образовательным программам высшего образования с применением дистанционных образовательных технологий в АНО ВО "Санкт-Петербургская юридическая академия</a>"</p>
                </td>
            </tr>
            <tr style="height: 61px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Положение о порядке и основаниях перевода, отчисления и восстановления обучающихся, предоставления им академического отпуска</span></td>
                <td style="height: 61px; width: 394px;">
                    <div itemprop="perevodDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/8-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr style="height: 109px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Положение о порядке оформления возникновения, приостановления и прекращения отношений между Автономной некоммерческой организацией высшего образования "Санкт-Петербургская юридическая академия" и обучающимися и (или) родителями (законными представителями) несовершеннолетних обучающихся</span></td>
                <td style="height: 109px; width: 394px;">
                    <div itemprop="vozDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/9-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr style="height: 61px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">План работы Санкт-Петербургской юридической академии на 2020-2021 учебный год</span></td>
                <td style="height: 61px; width: 394px;">
                    <p><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/plan_rab20.pdf" target="_blank" rel="noopener">Посмотреть</a></p>
                </td>
            </tr>
            <tr style="height: 45px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Правила внутреннего распорядка обучающихся</span></td>
                <td style="height: 45px; width: 394px;">
                    <div itemprop="localActStud"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/10-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr style="height: 45px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Правила внутреннего трудового распорядка</span></td>
                <td style="height: 45px; width: 394px;">
                    <div itemprop="localActOrder"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/11-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr style="height: 45px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Коллективный договор</span></td>
                <td style="height: 45px; width: 394px;">
                    <div itemprop="localActCollec"><span>В АНО ВО "Санкт-Петербургская юридическая академия" коллективный договор не предусмотрен(отсутствует).</span></div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <hr>
</div>
<div><br>
    <table class="table table-bordered" style="height: 703px;">
        <tbody>
            <tr style="height: 45px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Отчеты о результатах самообследования</span></td>
                <td style="height: 45px; width: 202px;">
                    <div itemprop="reportEduDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/samoob21.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr style="height: 45px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Предписания органов, осуществляющих государственный контроль (надзор) в сфере образования</span></td>
                <td style="height: 45px; width: 202px;">
                    <div itemprop="prescriptionDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/17-2-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                    <div itemprop="prescriptionDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/17-4-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr style="height: 45px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Отчеты об исполнении предписаний</span></td>
                <td style="height: 45px; width: 202px;">
                    <div itemprop="prescriptionOtchetDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/18-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                    <div itemprop="prescriptionOtchetDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/18_1-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr style="height: 48px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Уведомления о снятии предписаний</span></td>
                <td style="height: 48px; width: 202px;">
                    <p><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/17-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></p>
                    <p><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/17_1-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></p>
                    <p><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/17_5-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></p>
                </td>
            </tr>
            <tr style="height: 45px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Сводная ведомость результатов проведения СОУТ</span></td>
                <td style="height: 45px; width: 202px;">
                    <div itemprop="paidEduDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/soup.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr style="height: 45px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Перечень рекомендуемых мероприятий по улучшению условий труда</span></td>
                <td style="height: 45px; width: 202px;">
                    <div itemprop="paidEduDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/rec_soup.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr style="height: 45px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Порядок оказания платных образовательных услуг</span></td>
                <td style="height: 45px; width: 202px;">
                    <div itemprop="paidEduDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/14-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr style="height: 45px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Образец договора об оказании платных образовательных услуг (БАКАЛАВРИАТ,МАГИСТРАТУРА)</span></td>
                <td style="height: 45px; width: 202px;">
                    <div itemprop="paidEduDogDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/15-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr style="height: 61px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Образец договора об оказании платных образовательных услуг (ПОДГОТОВКА КАДРОВ ВЫСШЕЙ КВАЛИФИКАЦИИ (АСПИРАНТУРА)</span></td>
                <td style="height: 61px; width: 202px;">
                    <div itemprop="paidEduDogDocLink"><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/15_1-doc.pdf" target="_blank" rel="noopener">Посмотреть</a></div>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Документ об утверждении стоимости обучения по каждой образовательной программе</span></td>
                <td style="height: 80px; width: 202px;">
                    <div itemprop="paidEduStoimDocLink"><a href="https://abiturient.jurac.ru/abitur/normative-doc/" target="_blank" rel="noopener">Перейти</a></div>

                </td>
            </tr>
            <tr style="height: 77px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Документ об установлении платы, взымаемой с родителей(законных представителей) за присмотр и уход за детьми, осваивающими образовательные программы дошкольно образования в организациях, осуществляющих образовательную деятельность</span></td>
                <td style="height: 77px; width: 202px;">
                    <div itemprop="paidParents"><span>В АНО ВО "Санкт-Петербургская юридическая академия" плата не производится.</span></div>
                </td>
            </tr>
            <tr style="height: 61px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Положение о порядке проведения конкурса на замещение должностей&nbsp;научных&nbsp;работников в АНО ВО "СЮА"</span></td>
                <td style="height: 61px; width: 202px;">
                    <p><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/0-0-0-1-0.pdf" target="_blank" rel="noopener">Открыть</a></p>
                </td>
            </tr>
            <tr style="height: 45px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Концепция развития научной деятельности на 2019-2023 годы</span></td>
                <td style="height: 45px; width: 202px;">
                    <p><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/1-onr-doc.PDF" target="_blank" rel="noopener">Открыть</a></p>
                </td>
            </tr>
            <tr style="height: 45px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Концепция воспитательной работы Санкт-Петербургской юридической академии на 2015-2020 годы</span></td>
                <td style="height: 45px; width: 202px;">
                    <p><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/2-umo-doc.pdf" target="_blank" rel="noopener">Открыть</a></p>
                </td>
            </tr>
            <tr style="height: 61px;">
                <td><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Программа стратегического развития негосударственного образовательного учреждения высшего профессионального образования "Санкт-Петербургская юридическая академия" на 2015-2020 годы</span></td>
                <td style="height: 61px; width: 202px;">
                    <p><a href="https://jurac.ru/uploads/DOCUMENTS/sved-documents/3-prog-doc.PDF" target="_blank" rel="noopener">Открыть</a></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div itemprop="localActObSt" style="display: none;">Копии локальных нормативных актов, определяющих размер платы за пользование жилым помещением и коммунальные услуги в общежитии для обучающихся, принимаемых с учетом мнения советов обучающихся и представительных органов обучающихся в организации, осуществляющей
    образовательную деятельность</div>
<div itemprop="copy"></div>