<br>
<h1 style="text-align: center;"><span
        style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 14pt;">Образовательные стандарты</span>
</h1>
<br>
<table itemprop="eduDoc" border="1" style="width: 724px;">
    <tbody>
        <tr style="height: 38px;">
            <td style="width: 30px; height: 38px;"><span style="font-size: 12px; word-spacing: 1.2px;">№</span></td>
            <td style="width: 204px; height: 38px;"><span style="font-size: 12px; word-spacing: 1.2px;">Наименование
                    специальности/направления подготовки</span></td>
            <td style="width: 213px; height: 38px;"><span style="font-size: 12px; word-spacing: 1.2px;">Уровень
                    образования</span></td>
            <td style="width: 261px; height: 38px;"><span style="font-size: 12px; word-spacing: 1.2px;">Копии
                    образовательных стандартов</span></td>
        </tr>
        <tr itemprop="eduFedDoc" style="height: 45px;">
            <td style="width: 30px; height: 45px;"><span style="font-size: 12px; word-spacing: 1.2px;">1</span></td>
            <td style="width: 204px; height: 45px;">40.03.01 - Юриспруденция</td>
            <td style="width: 213px; height: 45px;"><span style="font-size: 12px; word-spacing: 1.2px;">Высшее
                    образование - Бакалавриат</span></td>
            <td itemprop="eduStandartDoc" style="width: 261px; height: 45px;"><span
                    style="font-size: 12px; word-spacing: 1.2px;"><a
                        href="http://it.jurac.ru/files/edu/loc/40.03.01(bac).pdf" target="_blank"
                        rel="noopener">Федеральный государственный образовательный стандарт высшего образования по
                        направлению подготовки 40.03.01 Юриспруденция (уровень бакалавриата)</a></span></td>
        </tr>
        <tr itemprop="eduFedDoc" style="height: 45px;">
            <td style="width: 30px; height: 45px;"><span style="font-size: 12px; word-spacing: 1.2px;">2</span></td>
            <td style="width: 204px; height: 45px;">40.04.01 - Юриспруденция</td>
            <td style="width: 213px; height: 45px;"><span style="font-size: 12px; word-spacing: 1.2px;">Высшее
                    образование - Магистратура</span></td>
            <td itemprop="eduStandartDoc" style="width: 261px; height: 45px;"><a
                    href="http://it.jurac.ru/files/edu/loc/40.04.01(mag).pdf" target="_blank" rel="noopener">Федеральный
                    государственный образовательный стандарт высшего профессионального образования по направлению
                    подготовки 030900 Юриспруденция (квалификация (степень) "магистр")</a></td>
        </tr>
        <tr itemprop="eduFedDoc" style="height: 45px;">
            <td style="width: 30px; height: 45px;"><span style="font-size: 12px; word-spacing: 1.2px;">3</span></td>
            <td style="width: 204px; height: 45px;">40.06.01 - Юриспруденция</td>
            <td style="width: 213px; height: 45px;"><span style="font-size: 12px; word-spacing: 1.2px;">Высшее
                    образование-<br>Подготовка кадров высшей квалификации</span></td>
            <td itemprop="eduStandartDoc" style="width: 261px; height: 45px;"><a
                    href="http://it.jurac.ru/files/edu/loc/40.06.01(asp).pdf" target="_blank" rel="noopener">Федеральный
                    государственный образовательный стандарт высшего образования по направлению подготовки 40.06.01
                    Юриспруденция (уровень подготовки кадров высшей квалификации)</a></td>
        </tr>
        <tr itemprop="eduFedDoc" style="height: 45px;">
            <td style="width: 30px; height: 45px;"><span style="font-size: 12px; word-spacing: 1.2px;">4</span></td>
            <td style="width: 204px; height: 45px;">44.06.01 -&nbsp;Образование и педагогические науки</td>
            <td style="width: 213px; height: 45px;"><span style="font-size: 12px; word-spacing: 1.2px;">Высшее
                    образование-<br>Подготовка кадров высшей квалификации</span></td>
            <td itemprop="eduStandartDoc" style="width: 261px; height: 45px;"><a
                    href="http://it.jurac.ru/files/edu/loc/44.06.01(asp).pdf" target="_blank" rel="noopener">Федеральный
                    государственный образовательный стандарт высшего образования по направлению подготовки 44.06.01
                    Юриспруденция (уровень подготовки кадров высшей квалификации)</a></td>
        </tr>
    </tbody>
</table>
<div itemprop="copy"></div>