<div itemprop="grant">
    <div>
        <br>
        <h1 style="text-align: center;"><span
                style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;">Стипендии и иные виды
                материальной поддержки</span></h1>
        <br>
        <h1><span style="font-size: 14pt;"><span style="font-family: 'times new roman', times, serif;">Сведения о
                    наличии и условиях предоставления стипендий</span></span></h1>
    </div>
    <div itemprop="grant">Выплата стипендий не предусмотрена</div>
    <br>
    <div itemprop="support">
        <h3><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">Меры социальной
                поддержки</span></h3>
    </div>
    <div itemprop="localAct"><a alt="support" itemprop="support"
            href="http://it.jurac.ru/files/grants/material_help.pdf" rel="noopener" target="_blank"
            title="Открыть">ПОЛОЖЕНИЕ О МЕРАХ СОЦИАЛЬНОЙ ПОДДЕРЖКИ ОБУЧАЮЩИХСЯ В САНКТ-ПЕТЕРБУРГСКОЙ ЮРИДИЧЕСКОЙ
            АКАДЕМИИ</a></div>
    <br>
    <h3><span
            style="letter-spacing: 0px; word-spacing: 0.1em; font-family: 'times new roman', times, serif; font-size: 14pt;">Сведения
            о наличии общежития, интерната, количестве жилых помещений в общежитии, интернате для иногородних
            обучающихся, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями
            здоровья</span></h3>
    &nbsp;
    <!-- Общежития -->
    <div itemprop="hostelInfo">
        <p>Общежития не предоставляются, но в <a href="http://it.jurac.ru/files/grants/obschezhitie.pdf"> соответствии с
                соглашением </a>, заключенным между Санкт-Петербургским государственным технологическим институтом
            (техническим университетом) и Санкт-Петербургской юридической академией, студентам Академии предоставляются
            места в общежитии по адресу: г. Санкт-Петербург, Яковлевский переулок, д.8. Телефон: 388-08-71</p>
        <div itemprop="hostelNum" style="display: none;">нет</div>
        <div itemprop="hostelTS" style="display: none;">нет</div>
        <div itemprop="hostelLS" style="display: none;">нет</div>
        <div itemprop="hostelInv" style="display: none;">нет</div>
        <div itemprop="hostelFd" style="display: none;">нет</div>
        <div itemprop="localActObSt" style="display: none;">нет</div>
    </div>
    <!-- Интернаты -->
    <div itemprop="interInfo">
        <p>Интернаты не предоставляются.</p>
        <div itemprop="interNum" style="display: none;">нет</div>
        <div itemprop="interTS" style="display: none;">нет</div>
        <div itemprop="interLS" style="display: none;">нет</div>
        <div itemprop="interInv" style="display: none;">нет</div>
        <div itemprop="interFd" style="display: none;">нет</div>
    </div>
    <br>
    <div>
        <h3>Копии локальных нормативных актов, определяющих размер платы за пользование жилым помещением и коммунальные
            услуги в общежитии для обучающихся, принимаемых с учетом мнения советов обучающихся и представительных
            органов обучающихся в организации, осуществляющей образовательную деятельность</h3>
        <div itemprop="localActObSt"><a alt="support" href="http://it.jurac.ru/files/grants/obschezhitie.pdf"
                rel="noopener" target="_blank" title="Открыть">Открыть</a></div>
    </div>
    <br><!-- Трудоустройство выпускников  -->
    <h3>Сведения о трудоустройстве выпускников</h3>
    <div itemprop="graduateJob" style="border: 1px;"><a alt="graduateJob"
            href="https://jurac.ru/structure-tsentr-sodeystviya-trudoustroystvu-vypusknikov.html" id="graduateJob"
            rel="noopener" target="_blank" title="Сведения о трудоустройстве выпускников">Перейти </a> </div>
    <br>
    <div itemprop="graduateJob">
        <table border="1" cellpadding="1">
            <tbody>
                <tr>
                    <td rowspan="2">№</td>
                    <td rowspan="2">Код</td>
                    <td rowspan="2">Название специальности (направления подготовки)</td>
                    <td colspan="2">2017</td>
                    <td colspan="2">2018</td>
                    <td colspan="2">2019</td>
                    <td colspan="2">2020</td>
                </tr>
                <tr>
                    <td>Количество выпускников</td>
                    <td>Количество трудоустроенных выпускников</td>
                    <td>Количество выпускников</td>
                    <td>Количество трудоустроенных выпускников</td>
                    <td>Количество выпускников</td>
                    <td>Количество трудоустроенных выпускников</td>
                    <td>Количество выпускников</td>
                    <td>Количество трудоустроенных выпускников</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td itemprop="eduCode">40.03.01</td>
                    <td itemprop="eduName">
                        <p>Юриспруденция;</p>
                        <p>Очная форма</p>
                    </td>
                    <td itemprop="v1">50</td>
                    <td itemprop="t1">20</td>
                    <td itemprop="v2">57</td>
                    <td itemprop="t2">32</td>
                    <td itemprop="v3">74</td>
                    <td itemprop="t3">36</td>
                    <td itemprop="v3">59</td>
                    <td itemprop="t3">11</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td itemprop="eduCode">40.03.01</td>
                    <td itemprop="eduName">
                        <p>Юриспруденция;</p>
                        <p>Заочная форма</p>
                    </td>
                    <td itemprop="v1">271</td>
                    <td itemprop="t1">271</td>
                    <td itemprop="v2">202</td>
                    <td itemprop="t2">202</td>
                    <td itemprop="v3">129</td>
                    <td itemprop="t3">129</td>
                    <td itemprop="v3">101</td>
                    <td itemprop="t3">97</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td itemprop="eduCode">40.04.01</td>
                    <td itemprop="eduName">Юриспруденция; Очная форма</td>
                    <td itemprop="v1">27</td>
                    <td itemprop="t1">27</td>
                    <td itemprop="v2">40</td>
                    <td itemprop="t2">39</td>
                    <td itemprop="v3">60</td>
                    <td itemprop="t3">54</td>
                    <td itemprop="v3">-</td>
                    <td itemprop="t3">-</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td itemprop="eduCode">40.04.01</td>
                    <td itemprop="eduName">Юриспруденция; Заочная форма</td>
                    <td itemprop="v1">54</td>
                    <td itemprop="t1">54</td>
                    <td itemprop="v2">41</td>
                    <td itemprop="t2">41</td>
                    <td itemprop="v3">40</td>
                    <td itemprop="t3">40</td>
                    <td itemprop="v3">-</td>
                    <td itemprop="t3">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div itemprop="copy"></div>