<p style="text-align: justify;"><span style="font-family: 'times new roman', times, serif; font-size: 14pt;"><b>Электронная информационно-образовательная среда</b> (ЭИОС) образовательной организации включает электронные информационные ресурсы, электронные образовательные ресурсы, совокупность информационных технологий, телекоммуникационных технологий, соответствующих технологических средств и обеспечивает освоение обучающимися образовательных программ в полном объеме независимо от места нахождения обучающихся (ст. 16. Федеральный закон &laquo;Об образовании в Российской Федерации&raquo; от 29.12.2012 № 273-ФЗ).​</span></p>
<p style="text-align: justify;"></p>
<hr>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: 'times new roman', times, serif; font-size: 14pt;"><b>Электронная информационно-образовательная среда</b> обеспечивает (п. 7.1.2 ФГОС ВО):</span></p>
<p></p>
<ul>
  <li><span style="font-family: 'times new roman', times, serif; font-size: 14pt;"><b>1. </b> доступ к учебным планам, рабочим программам дисциплин (модулей), практик, к изданиям электронных библиотечных систем и электронным образовательным ресурсам;​</span></li>
</ul>
<p></p>
<ul>
  <li><span style="font-family: 'times new roman', times, serif; font-size: 14pt;"><b>2. </b> фиксацию хода образовательного процесса, результатов промежуточной аттестации и результатов освоения основной образовательной программы;​</span></li>
</ul>
<p></p>
<ul>
  <li><span style="font-family: 'times new roman', times, serif; font-size: 14pt;"><b>3. </b> формирование электронного портфолио обучающегося, в том числе сохранение работ обучающегося, рецензий и оценок на эти работы со стороны любых участников образовательного процесса;​</span></li>
</ul>
<p></p>
<ul>
  <li><span style="font-family: 'times new roman', times, serif; font-size: 14pt;"><b>4. </b> взаимодействие между участниками образовательного процесса, в том числе синхронное и (или) асинхронное взаимодействие посредством сети &laquo;Интернет&raquo;.</span></li>
</ul>
<p><br><br></p>
<hr>
<p></p>
<p><span style="font-size: 12pt;">Вход и регистрация в ЭИОС предназначены <b>только для действующих сотрудников и студентов академии</b>. ЭИОС <b>не предназначена для электронной подачи документов в приемную комиссию</b>.&nbsp; </span></p>
<p></p>
<p><a href="http://student.jurac.ru/" target="_blank" rel="noopener"><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">&gt; Вход в электронную информационно-образовательную среду(moodle)</span></a></p>
<p></p>
<p></p>
<hr>
<p style="text-align: center;"><span style="font-size: 12pt; font-family: verdana, geneva, sans-serif;"><b>В 2020/2021 учебном году Академия проводит ряд занятий с использованием платформы видеоконференций "Zoom". </b></span></p>
<p></p>
<p></p>
<p style="text-align: center;"><span style="font-size: 12pt;">Настоятельно рекомендуем посетить <a href="https://support.zoom.us/hc/ru">"Центр справки и поддержки Zoom"</a>, в котором содержится вся информация по использованию данной платформы. Там вы найдете информационные и обучающие видео, а так же ответы на популярные вопросы.<br></span></p>
<p></p>
<p></p>
<p></p>
<hr>
<h2><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">Положение об электронном портфолио обучающегося</span></h2>
<p><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">[attachment=762]&nbsp;</span></p>
<p></p>
<hr>
<h2><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">Положение об электронной информационно-образовательной среде<br></span></h2>
<p><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">[attachment=765]&nbsp;</span></p>
<p></p>
<hr>
<h2><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">Инструкция обучающегося по пользованию ЭИОС<br></span></h2>
<p><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">[attachment=764]&nbsp;</span></p>