<div><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">Финансово-экономический отдел был создан как самостоятельное структурное подразделение Академии в июле 1997 г. С момента создания руководителем ФЭО является Воробьева Ольга Николаевна. Отдел постоянно развивается и успешно выполняет все поставленные перед ним задачи.<br><br></span></div>
<div><b><span style="font-size: 14px;">Основными задачами ФЭО являются:</span></b></div>
<div></div>
<p><span style="font-size: 18px; font-family: 'Times New Roman', Times, serif, '-webkit-standard';">1. Формирование финансовой стратегии Академии, создание технологий планирования, учет и контроль поступления и расходования денежных средств, анализ финансовых результатов деятельности Академии.&nbsp;</span></p>
<p><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';"><span style="font-size: 18px;">2. Разработка и реализация принципов управления и формирования средств Академии в соответствии с законодательством РФ, приказами и распоряжениями ректора, иными локальными актами Академии.&nbsp;</span></span></p>
<p><span style="font-size: 18px; font-family: 'Times New Roman', Times, serif, '-webkit-standard';">3. Организация бухгалтерского учета, хозяйственно-финансовой деятельности Академии.&nbsp;</span></p>
<p><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">4. Контроль за экономным использованием материальных, трудовых и финансовых ресурсов и за сохранностью собственности Академии.</span></p>
<hr>
<p>​</p>
<p style="text-align: center;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;"><b>Начальник отдела</b> &nbsp; &nbsp;<br>Ольга Николаевна Воробьева</span></p>
<div style="text-align: center;"><span style="font-size: 18px;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">&nbsp;</span></span></div>
<p style="text-align: center;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;"><b>Заместитель начальника отдела&nbsp;</b> &nbsp;</span></p>
<p style="text-align: center;"><span style="font-size: 18px;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">Евгения Васильевна Хомченко&nbsp;</span></span></p>
<p style="text-align: center;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">&nbsp; &nbsp; &nbsp;</span></p>
<div style="text-align: center;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;"><b>Бухгалтер</b></span></div>
<p style="text-align: center;"><span style="font-size: 18px;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">Штефанова Вероника Николаевна</span></span></p>
<div style="text-align: center;"></div>
<p><br><br></p>
<h4 style="text-align: center;"><a href="https://jurac.ru/sveden/paid_edu" target="_blank" rel="noopener"><span style="font-size: 18px;">Реквизиты для оплаты обучения АНО ВО СЮА</span></a></h4>
<p></p>
<div style="text-align: center;"></div>
<hr>
<p align="center"><u><b><span style="font-size: 18px;">Контактный телефон:</span></b></u></p>
<p align="center"><b><span style="font-size: 18px;">+7 (812) 380 &ndash; 00 &ndash; 46</span></b></p>
<hr>
<h3 align="center"><a href="/otdely-i-otdeleniya.html">НАЗАД</a></h3>
<p></p>