<p></p>
<table style="width: 100%;">
  <tbody>
    <tr>
      <td style="width: 28.587%;"><a class="highslide" href="https://jurac.ru/uploads/posts/2017-12/1513854986_1505116596_zybina1.jpg" target="_blank" rel="noopener"><img src="https://jurac.ru/uploads/posts/2017-12/medium/1513854986_1505116596_zybina1.jpg" alt="" class="fr-fil fr-dii fr-padded fr-shadows" style="width: 156px;"></a> <br><br></td>
      <td style="width: 71.3035%;"><span style="font-size: 18px;"><b><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">Ректор академии - <br>ЗЫБИНА Ольга Станиславовна - кандидат юридических наук, доцент</span></b><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';"> <br><br><b>Часы приема:</b> <br>среда 11.00-12.00 <br>каб. 213 </span></span></td>
    </tr>
    <tr>
      <td style="width: 28.587%;">
        <h4><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">Приёмная: (812) 380-00-47</span></h4>
      </td>
      <td style="width: 71.3035%;">
        <h4><a href="mailto:academy@jurac.ru"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">academy@jurac.ru</span></a></h4>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="width: 99.8905%;"><br><hr></td>
    </tr>
    <tr>
      <td style="width: 28.587%;"><a class="highslide" href="https://jurac.ru/uploads/posts/2017-12/1513855062_1505116950_9132.jpg" target="_blank" rel="noopener"><img src="https://jurac.ru/uploads/posts/2017-12/medium/1513855062_1505116950_9132.jpg" alt="" class="fr-fil fr-dii fr-padded fr-shadows" style="width: 156px;"></a> <br><br></td>
      <td style="width: 71.3035%;"><span style="font-size: 18px;"><b><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">Первый проректор - проректор по учебной работе - декан факультета юриспруденции (бакалавриат) - СУСЛИН Эдуард Васильевич - </span></b></span><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;"> <br><b>доктор юридических наук, профессор, почетный работник высшего профессионального образования Российской Федерации </b> <br><br><b>Часы приема:</b> <br>понедельник 14.00-17.00 <br>каб. 217 </span></td>
    </tr>
    <tr>
      <td style="width: 28.587%;">
        <h4><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">Приёмная: (812) 380-00-47</span></h4>
      </td>
      <td style="width: 71.3035%;">
        <h4><a href="mailto:rektorat@jurac.ru"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">rektorat@jurac.ru</span></a></h4>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="width: 99.8905%;"><br><hr></td>
    </tr>
    <tr>
      <td style="width: 28.587%;"><a class="highslide" href="https://jurac.ru/uploads/posts/2017-12/1513855053_nazarov_site.jpg" target="_blank" rel="noopener"><img src="https://jurac.ru/uploads/posts/2017-12/medium/1513855053_nazarov_site.jpg" alt="" class="fr-fil fr-dii fr-padded fr-shadows" style="width: 156px;"></a> <br><br></td>
      <td style="width: 71.3035%;"><b><span style="font-size: 18px; font-family: 'Times New Roman', Times, serif, '-webkit-standard';">Проректор по научной и инновационной деятельности-<br>НАЗАРОВ Сергей Владимирович -</span></b><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;"> <br><b>кандидат юридических наук, доцент</b> <br><br><b>Часы приема:</b> <br>вторник 11.00-13.30 <br>каб. 208 </span></td>
    </tr>
    <tr>
      <td style="width: 28.587%;">
        <h4><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">Приёмная: (812) 380-00-47</span></h4>
      </td>
      <td style="width: 71.3035%;">
        <h4><a href="mailto:rektorat@jurac.ru"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">rektorat@jurac.ru</span></a></h4>
      </td>
    </tr>
  </tbody>
</table>