<p style="text-align: center;"><span style="font-family: Verdana, Geneva, sans-serif; font-size: 12pt;"><b>УЧЕНЫЙ
      СОВЕТ</b></span></p>
<p style="text-align: center;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><b><span
        style="font-family: Verdana, Geneva, sans-serif;">Автономной некоммерческой организации</span></b></span></p>
<p style="text-align: center;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><b><span
        style="font-family: Verdana, Geneva, sans-serif;">высшего образования</span></b></span></p>
<p style="text-align: center;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span
      style="font-family: Verdana, Geneva, sans-serif;"><b>&laquo;Санкт-Петербургская юридическая
        академия&raquo;</b></span></span></p>
<p style="text-align: center;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span
      style="font-family: Verdana, Geneva, sans-serif;">&nbsp;</span></span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span
      style="font-family: Verdana, Geneva, sans-serif;">Ученый совет Автономной некоммерческой организации высшего
      образования &laquo;Санкт-Петербургская юридическая академия&raquo; (далее&nbsp;&mdash; Академия) является
      коллегиальным органом управления, предусмотренным Уставом Академии и&nbsp;осуществляющим&nbsp; общее руководство
      её&nbsp;деятельностью.</span></span></p>
<p></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span
      style="font-family: Verdana, Geneva, sans-serif;">Структура, порядок формирования, срок полномочий
      и&nbsp;компетенция ученого совета Академии, а&nbsp;также порядок принятия им&nbsp;решений и&nbsp;выступления
      от&nbsp;имени Академии устанавливается Уставом Академии в&nbsp;соответствии с&nbsp;законодательством Российской
      Федерации и&nbsp;Положением об&nbsp;ученом совете Академии.</span></span></p>
<p></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span
      style="font-family: Verdana, Geneva, sans-serif;">Ученый совет Академии формируется в&nbsp;количестве
      не&nbsp;менее 20 человек.</span></span></p>
<p></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span
      style="font-family: Verdana, Geneva, sans-serif;">Нормы представительства в&nbsp;ученом совете Академии
      от&nbsp;её&nbsp;структурных подразделений и&nbsp;обучающихся определяются ученым советом Академии.</span></span>
</p>
<p></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span
      style="font-family: Verdana, Geneva, sans-serif;">Срок полномочий ученого совета Академии&nbsp;&mdash; пять
      лет.</span></span></p>
<p></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span
      style="font-family: Verdana, Geneva, sans-serif;">Работа ученого совета Академии планируется на&nbsp;календарный
      год, осуществляется в&nbsp;соответствии с&nbsp;Положением об&nbsp;ученом совете Академии (утверждено Собранием
    </span></span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span
      style="font-family: Verdana, Geneva, sans-serif;">Учредителей 16&nbsp;августа 2016 года, протокол № 2)
      и&nbsp;планом, отражающим стратегию развития Академии на&nbsp;среднесрочную перспективу, реализацию поставленных
      перед Академией задач, совершенствование организационной структуры вуза, а&nbsp;также системы подготовки
      юридических кадров в&nbsp;свете современных требований к&nbsp;её&nbsp;качеству.</span></span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span
      style="font-family: Verdana, Geneva, sans-serif;">Заседания ученого совета Академии являются открытыми для
      профессорско-преподавательского состава, иных категорий работников, обучающихся и&nbsp;проводятся, как правило,
      в&nbsp;последний четверг месяца.</span></span></p>
<p></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span
      style="font-family: Verdana, Geneva, sans-serif;">Ученый совет Академии правомочен принимать решения, если
      на&nbsp;заседании присутствуют не&nbsp;менее 2/3 его членов (кворум).</span></span></p>
<p></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span
      style="font-family: Verdana, Geneva, sans-serif;">Персональный состав ученого совета академии объявлен приказом
      ректора от 25.09.2020 № 151-о/д на осн. решения уч. совета от 24.09.2010, протокол № 10).</span></span></p>
<p></p>
<p><span style="font-size: 14pt;">По состоянию на 25 сентября 2020 года персональный состав ученого совета академии
    составляет <b>23 человека</b>, из них: ученую степень доктора/кандидата наук имеют <b>14 </b>человек &ndash; членов
    ученого совета (60,9%); ученые звания профессора/доцента имеют <b>14 </b>человек &ndash; членов ученого совета
    (60,9%); высшее образование имеют <b>21</b> чел. &ndash; 91,3% членов ученого совета и <b>2 </b>человека (8,7%) -
    обучающиеся.</span></p>
<p style="text-align: justify;"><span style="font-family: Verdana, Geneva, sans-serif; font-size: 14px;">&nbsp;</span>
</p>
<p><br><br></p>
<table style="width: 100%;">
  <tbody>
    <tr>
      <td style="width: 17.2531%; text-align: left;"><a class="highslide"
          href="https://jurac.ru/uploads/posts/2018-02/1517918476_1513854986_1505116596_zybina1.jpg"><img
            src="https://jurac.ru/uploads/posts/2018-02/medium/1517918476_1513854986_1505116596_zybina1.jpg"
            class="fr-fic fr-dii fr-fil fr-shadows" style="width: 132px;" alt=""></a></td>
      <td style="width: 5.4484%;"></td>
      <td style="width: 77.185%; vertical-align: middle;"><b><span
            style="font-family: Verdana, Geneva, sans-serif; font-size: 14px;">Председатель ученого совета
          </span></b><b><span style="font-family: Verdana, Geneva, sans-serif; font-size: 14px;">Зыбина Ольга
            Станиславовна</span></b><span style="font-family: Verdana, Geneva, sans-serif; font-size: 14px;">, кандидат
          юридических наук, доцент, ректор Академии.</span></td>
    </tr>
    <tr>
      <td style="width: 17.2531%;"><a class="highslide"
          href="https://jurac.ru/uploads/posts/2018-02/1517918529_1513855062_1505116950_9132.jpg"><img
            src="https://jurac.ru/uploads/posts/2018-02/medium/1517918529_1513855062_1505116950_9132.jpg"
            class="fr-fic fr-dii fr-fil fr-shadows" style="width: 133px;" alt=""></a></td>
      <td style="width: 5.4484%;"></td>
      <td style="vertical-align: middle;"><span
          style="font-family: Verdana, Geneva, sans-serif; font-size: 14px;"><b>Заместитель председателя ученого совета
            Суслин Эдуард Васильевич</b>, доктор юридических наук, профессор, почётный работник высшего
          профессионального образования Российской Федерации, первый проректор&nbsp;&mdash; проректор по&nbsp;учебной
          работе, декан факультета юриспруденции (бакалавриат).</span></td>
    </tr>
    <tr>
      <td style="width: 17.2531%;"><a class="highslide"
          href="https://jurac.ru/uploads/posts/2018-02/1517918553_zhabenko.jpg"><img
            src="https://jurac.ru/uploads/posts/2018-02/medium/1517918553_zhabenko.jpg"
            class="fr-fic fr-dii fr-fil fr-shadows" style="width: 132px;" alt=""></a></td>
      <td style="width: 5.4484%;"></td>
      <td style="width: 77.185%; vertical-align: middle;"><span
          style="font-family: Verdana, Geneva, sans-serif; font-size: 14px;"><b>Ученый секретарь ученого совета Жабенко
            Валентина Сергеевна</b>, кандидат педагогических наук, доцент, доцент кафедры социально-гуманитарных
          дисциплин.</span><span style="font-size: 14px;"><br></span></td>
    </tr>
  </tbody>
</table>
<p></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">Ученым
    секретарем ученого совета Санкт-Петербургской юридической академии Жабенко Валентина Сергеевна является с мая 2004
    года, успешно совмещая эту работу с научно-педагогической деятельностью. Имеет высшее профессиональное образование
    по специальности 021100 &laquo;Юриспруденция&raquo;, квалификация &ndash; юрист (специализация &ndash;
    воспитательно-правовая), уже более 30 лет работает в высших учебных заведениях в должностях руководителей и
    специалистов высшего профессионального образования. </span></p>
<p><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: center;"><span style="font-family: Verdana, Geneva, sans-serif; font-size: 18px;"><b>СОСТАВ&nbsp;
      УЧЕНОГО&nbsp; СОВЕТА</b></span></p>
<p style="text-align: center;"><span style="font-family: Verdana, Geneva, sans-serif; font-size: 18px;"><b>АНО ВО
      &laquo;Санкт-Петербургская юридическая академия&raquo;</b></span></p>
<p><span style="font-family: 'times new roman', times, serif; font-size: 14pt;"><b>&nbsp;</b></span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">1. Зыбина Ольга
    Станиславовна, кандидат юридических наук, доцент, доцент кафедры гражданского права, ректор Санкт-Петербургской
    юридической академии, председатель ученого совета;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">2. Суслин
    Эдуард Васильевич, доктор юридических наук, профессор, профессор кафедры теории и истории государства и права -
    первый проректор &ndash; проректор по учебной работе, декан факультета юриспруденции (бакалавриат), заместитель
    председателя ученого совета;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">3. Назаров
    Сергей Владимирович, кандидат юридических наук, доцент, доцент кафедры уголовного процесса и криминалистики,
    заведующий кафедрой уголовного права, проректор по научной и инновационной деятельности;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">4. Александров
    Сергей Григорьевич, доктор юридических наук, доцент, профессор кафедры теории и истории государства и права;</span>
</p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">5. Алексеева
    Александра Николаевна, обучающаяся факультета юриспруденции (бакалавриат), председатель студенческого совета;</span>
</p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">6. Болгова
    Ольга Станиславовна, начальник отдела кадров;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">7. Брыков
    Сергей Александрович, заместитель декана &ndash; начальник отделения очной формы обучения факультета юриспруденции
    (бакалавриат);</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">8. Варушкин
    Алексей Анатольевич, кандидат юридических наук, доцент кафедры уголовного права, заместитель заведующего кафедрой
    уголовного права;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">9. Долматов
    Александр Васильевич, доктор педагогических наук, профессор, профессор кафедры социально-гуманитарных дисциплин,
    заведующий кафедрой социально-гуманитарных дисциплин;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">10. Дулич
    Леонид Михайлович, кандидат исторических наук, доцент, доцент кафедры государственно-правовых дисциплин, заведующий
    кафедрой государственно-правовых дисциплин;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">11. Жабенко
    Валентина Сергеевна, кандидат педагогических наук, доцент, доцент кафедры социально-гуманитарных дисциплин, ученый
    секретарь ученого совета;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">12. Зелтабол
    Алла Евгеньевна, начальник учебно-методического отдела;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">13. Иванов
    Константин Дмитриевич, кандидат юридических наук, доцент, заместитель декана &ndash; начальник отделения
    очно-заочной и заочной формы обучения факультета юриспруденции (бакалавриат);</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">14. Кувшинов
    Виктор Степанович, доцент, доцент кафедры теории и истории государства и права, советник при ректорате;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">15. Орехова
    Мария Андреевна, старший преподаватель кафедры гражданского права, руководитель Центра профориентационной
    деятельности и практической подготовки обучающихся;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">16. Павлова
    Светлана Викторовна, кандидат юридических наук, доцент, доцент кафедры теории и истории государства и права,
    заведующий кафедрой теории и истории государства и права;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">17. Перфилов
    Владимир Иосифович, кандидат военных наук, доцент, доцент кафедры социально-гуманитарных дисциплин, начальник отдела
    научной и инновационной деятельности;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">18. Попова
    Елена Сергеевна, кандидат юридических наук, доцент, доцент кафедры гражданского права, заведующий кафедрой
    гражданского процесса;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">19. Проценко
    Надежда Юрьевна, обучающаяся факультета юриспруденции (магистратура);</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">20. Тарасова
    Елена Николаевна, старший преподаватель кафедры гражданского процесса, руководитель Центра управления качеством
    образовательной деятельности;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">21. Толстова
    Анна Евгеньевна, кандидат юридических наук, доцент, доцент кафедры гражданского права, заведующий кафедрой
    гражданского права;</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">22. Фарафонова
    Людмила Николаевна, кандидат педагогических наук, доцент, доцент кафедры социально-гуманитарных дисциплин, декан
    факультета юриспруденции (магистратура);</span></p>
<p style="text-align: justify;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">23. Шубин Юрий
    Павлович, старший преподаватель кафедры государственно-правовых дисциплин, юрист.</span></p>
<p></p>
<p><span style="font-family: Verdana, Geneva, sans-serif; font-size: 14px;">&nbsp;</span></p>
<hr>
<h4><span style="color: #000000;"><span style="font-size: 14px;">Положение об&nbsp;ученом совете академии</span></span>
</h4>
<p><span style="color: #000000;"><span style="font-size: 14px;">[attachment=294]<br></span></span></p>
<h4><span style="color: #000000;"><span style="font-size: 14px;"><br>Регламент деятельности ученого совета автономной
      некоммерческой организации высшего образования &laquo;Санкт-Петербургская юридическая академия&raquo;, связанной
      с&nbsp;процедурой замещения должностей педагогических работников, относящихся
      к&nbsp;профессорско-преподавательскому составу</span></span></h4>
<p><span style="color: #000000;"><span style="font-size: 14px;">[attachment=295]<br></span></span></p>
<h4><span style="color: #000000;"><span style="font-size: 14px;"><br>План работы ученого совета академии на 2021
      год</span></span></h4>
<p><span style="font-family: 'times new roman', times, serif; font-size: 12pt;">[attachment=813]&nbsp;</span>
  <br><br><br><br><b><span
      style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">КОНТАКТЫ:</span></b><span
    style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;"><br>тел./факс
    (812)&nbsp;380-00-47&nbsp;&mdash; доб. № 406</span> <br><br></p>