<p><img src="https://jurac.ru/uploads/posts/2019-04/1554112598_411.jpg" class="fr-fic fr-dii fr-fir fr-bordered fr-shadows fr-padded" alt=""></p>
<div class="quote"><span style="font-size: 14px;">"Слово&nbsp;&mdash; одно из&nbsp;величайших орудий человека. Бессильное само по&nbsp;себе&nbsp;&mdash; оно становится могучим и&nbsp;неотразимым, сказанное умело, искренне и&nbsp;вовремя"- А.Ф. Кони</span></div>
<p></p>
<hr>
<div></div>
<div><b><span style="font-size: 18px;">Характеристика библиотеки им. А. Ф. Кони&nbsp;</span></b><span style="font-size: 18px;"><br></span><b><span style="font-size: 18px;">Санкт-Петербургской юридической академии</span></b></div>
<p style="text-align: justify;"><span style="font-size: 14px; font-family: Verdana, Geneva, sans-serif;">[spoiler]</span><br><span style="font-family: Verdana, Geneva, sans-serif; font-size: 14px;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">Библиотека основана 05 февраля 1999 года. На основании решения Собрания Учредителей от 21.09.2009, Ученого совета академии от 25.06.2009 (протокол № 6), библиотеке академии присвоено имя Анатолия Федоровича Кони. Площадь библиотеки &ndash; 144 кв. м. Библиотека имеет абонемент и читальный зал. Количество посадочных мест в читальном зале &ndash; 10. Количество компьютеров в библиотеке - 12.&nbsp; Общее количество единиц хранения более -39 510 экз., 3&nbsp;665 наименований; фонд периодических изданий более 5851экземпляр, 57 наименований, 407 годовых комплектов.</span><br><br>
    <span style="font-family: 'times new roman', times, serif; font-size: 14pt;">&nbsp; Библиотека осуществляет автоматизированное комплектование и обработку литературы. Характеристика фонда по отраслям знания: правоведение, юриспруденция, политология, педагогика, психология, история, философия, языкознание, естествознание, математика,
        информационные технологии, экономика, культурология, справочные издания &ndash; 150 наименований по различным отраслям знаний. Санкт-Петербургская юридическая академия и ООО &laquo;Электронное издательство Юрайт&raquo;&raquo; заключили 29.02.2020
        г. Договор № 4316 на оказание услуг по предоставлению доступа к электронно - библиотечной системе &laquo;ЭБС Юрайт (www.biblio-online.ru&raquo;). Согласно заключенному контракту обеспечена возможность одновременного индивидуального доступа для
        100% процентов обучающихся академии.</span><br><br><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">&nbsp; ЭБС &laquo;Юрайт&raquo; &ndash; электронный ресурс, на котором можно найти литературу, соответствующую современным требованиям и стандартам обучения, в том числе федеральным государственным образовательным стандартам высшего образования (ФГОС ВО) нового поколения.</span><br><br>
    <span style="font-family: 'times new roman', times, serif; font-size: 14pt;">&nbsp; ЭБС содержит максимальное количество книжных изданий, на сегодня 9699 наименований. Для удобства навигации по электронной библиотеке издания сгруппированы в каталог по тематическому принципу.&nbsp;&nbsp;Представлена практически вся литература,
            необходимая для обучения в большинстве высших учебных заведений Российской Федерации. ЭБС &laquo;Юрайт&raquo; будет полезна как преподавателям, так и студентам. Вы сможете найти в ней не только учебную, но и разнообразную учебно-методическую
            литературу.</span><br><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">ЭБС &laquo;Юрайт&raquo; ежемесячно пополняется и обновляется, что полностью отвечает потребностям современного пользователя. Общее количество доступной для использования литературы более 9000 наименований и постоянно пополняется новинками, в большинстве своём это учебники и учебные пособия для всех уровней профессионального образования от ведущих научных школ.</span><br><br>
    <span style="font-family: 'times new roman', times, serif; font-size: 14pt;">&nbsp; Электронный каталог ведётся в библиотеке с 2007 года в автоматизированной информационно- библиотечной системе &laquo;ИРБИС 64&raquo;, в АРМах &laquo;Каталогизатор&raquo;, &laquo;Комплектатор&raquo;.&nbsp; Объём ЭК составляет более 23538
                записей. Доступ в электронный каталог с помощью авторизации пользователей с использованием персонального логина и пароля. В электронном каталоге, через личный кабинет пользователи могут авторизоваться в ЭБС &laquo;Юрайт&raquo;. В электронном
                каталоге можно пользоваться поисковыми системами, где есть библиографические записи литературы из фонда библиотеки академии и ЭБС Юрайт&raquo;. По бесшовному переходу можно просматривать полнотекстовые версии учебников. Электронный каталог
                формирует базу данных универсального характера: книжный фонд библиотеки, ЭБС &laquo;Юрайт&raquo;, периодические издания.</span><br><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">Библиотека имеет свободный доступ к научной электронной библиотеке ELIBRARY. RU.</span><br><br>
    <span style="font-family: 'times new roman', times, serif; font-size: 14pt;">&nbsp; Библиотека использует информационно-правовую базу данных: &laquo;КонсультантПлюс&raquo;. Библиотечное обслуживание всех групп читателей академии на абонементе и в читальном зале. Заключено соглашение от 04 февраля 2016 г. о совместном
                    использовании библиотечного фонда учебных заведений Санкт-Петербургского университета МВД России и Санкт-Петербургской юридической академии. Настоящее соглашение действует до 31.12.2020 г.</span><br><br><span style="font-family: 'times new roman', times, serif; font-size: 14pt;">&nbsp; В целях доступности получения высшего образования инвалидами и лицами с ограниченными возможностями здоровья по зрению заключили договор на методическое сопровождение № 2 от 01 января 2018г. АНО ВО &laquo;Санкт-Петербургская юридическая академия&raquo; и Санкт-Петербургское государственное бюджетное учреждение культуры &laquo;Государственная библиотека для слепых и слабовидящих&raquo;. Настоящий действует до 31.12.2020 г.</span><br><br>
    <span style="font-family: 'times new roman', times, serif; font-size: 14pt;">&nbsp; Библиотека проводит книжные выставки новых поступлений и периодических изданий. Готовит информационные списки новых поступлений для кафедр академии. Выполняет различные библиографические справки в помощь учебной и научной работе.
                        Индексирует научные труды. Всем читателям предоставлен доступ к Электронному каталогу библиотеки, ЭБС &laquo;Юрайт&raquo;, БД &laquo;КонсультантПлюс&raquo; и к сети Интернет.</span><span style="font-family: 'times new roman', times, serif; font-size: 14pt;"><br></span></p>
<p style="text-align: justify;"><span style="font-family: Verdana, Geneva, sans-serif; font-size: 14px;"><span style="font-size: 14px; font-family: Verdana, Geneva, sans-serif;">[/spoiler]</span></span>
</p>
<p><br><br></p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: 'times new roman', times, serif; font-size: 14pt;"><a href="http://irbis.jurac.ru/jirbis2/index.php">Электронный каталог библиотеки Санкт-Петербургской юридической академии</a></span></p>
<p style="text-align: justify;"><br><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;"><b>Инструкция по авторизации обучающихся в электронной библиотеке</b></span></p>
<p style="text-align: justify;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;"><b>[spoiler]</b></span></p>
<p><span style="font-size: 10pt;">Уважаемые обучающиеся!</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">Для вас открыт доступ к электронной библиотеке Санкт-Петербургской юридической академии. Воспользоваться данным ресурсом Вы можете следующим образом:</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<ol>
    <li><span style="font-size: 10pt;">Зайти на официальную страницу сайта Санкт-Петербургской юридической академии.</span></li>
    <li><span style="font-size: 10pt;">Открыть страницу Библиотеки им. А. Ф. Кони.</span></li>
    <li><span style="font-size: 10pt;">Найти синюю ссылку &laquo;Электронный каталог библиотеки Санкт-Петербургской юридической академии&raquo;, войти по ней.</span></li>
    <li><span style="font-size: 10pt;">На сайте библиотеки следует авторизоваться.</span></li>
</ol>
<p></p>
<p><span style="font-size: 10pt;"><img src="https://jurac.ru/uploads/posts/2019-12/1576229321_1b1.png" alt="">&nbsp;</span></p>
<hr>
<p><span style="font-size: 10pt;">Фамилия (логин) &ndash; Ваша фамилия на русском языке с большой буквы.</span></p>
<p><span style="font-size: 10pt;">Пароль &ndash; номер Вашего студенческого билета, включая знаки и заглавные буквы, например: &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Васильев (логин)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2/2702/ОЗиЗФО (пароль)</span></p>
<p><span style="font-size: 10pt;">4.Далее перейти в Личный кабинет (здесь же, на сайте Библиотеки) и нажать закладку Авторизация в ЭБС.</span></p>
<p></p>
<p><span style="font-size: 10pt;"><img src="https://jurac.ru/uploads/posts/2019-12/1576229300_1b2.png" alt="">&nbsp;</span></p>
<hr>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">5.Щелкните по синей ссылке ЭБС &laquo;Юрайт&raquo; и затем примите пользовательское соглашение (оранжевый прямоугольник).</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">Теперь вы авторизованы полностью и в Электронном каталоге Библиотеки им. А. Ф. Кони, и в Электронной библиотечной системе &laquo;Юрайт&raquo;. Вам доступна коллекция книг (более 7000 учебных изданий) по всем дисциплинам курса.</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">За более подробными разъяснениями обращайтесь в Читальный зал</span></p>
<p><span style="font-size: 10pt;">Библиотеки им. А. Ф. Кони, ауд. 201.</span></p>
<p></p>
<p style="text-align: justify;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">[attachment=673]</span></p>
<p style="text-align: justify;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;"><b>[/spoiler]</b></span></p>
<p style="text-align: justify;"><br><br><br><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;"><b>Инструкция по авторизации ППС в электронной библиотеке</b></span></p>
<p style="text-align: justify;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;"><b>[spoiler]</b></span></p>
<p><span style="font-size: 10pt;">Уважаемые научно-педагогические работники!</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">Для вас открыт доступ к электронной библиотеке Санкт-Петербургской юридической академии. Воспользоваться данным ресурсом Вы можете следующим образом:</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<ol>
    <li><span style="font-size: 10pt;">Зайти на официальную страницу сайта Санкт-Петербургской юридической академии.</span></li>
    <li><span style="font-size: 10pt;">Открыть страницу Библиотеки им. А. Ф. Кони.</span></li>
    <li><span style="font-size: 10pt;">Найти синюю ссылку &laquo;Электронный каталог библиотеки Санкт-Петербургской юридической академии&raquo;, войти по ней.</span></li>
    <li><span style="font-size: 10pt;">На сайте библиотеки следует авторизоваться.</span></li>
</ol>
<p><span style="font-size: 10pt;"><img src="https://jurac.ru/uploads/posts/2019-12/1576229321_1b1.png" alt="">&nbsp;</span></p>
<hr>
<p><span style="font-size: 10pt;">Фамилия (логин) &ndash; Ваша фамилия на русском языке с большой буквы.</span></p>
<p><span style="font-size: 10pt;">Пароль &ndash; Вы получаете в Читальном зале библиотеки и вписываете его, включая заглавные буквы, например: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Васильев (логин)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ВАД228 (пароль)</span></p>
<p><span style="font-size: 10pt;">4.Далее перейти в Личный кабинет (здесь же, на сайте Библиотеки) и нажать закладку Авторизация в ЭБС.</span></p>
<p><span style="font-size: 10pt;"><img src="https://jurac.ru/uploads/posts/2019-12/1576229300_1b2.png" alt="">&nbsp;</span></p>
<hr>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">5.Щелкните по синей ссылке ЭБС &laquo;Юрайт&raquo; и затем примите пользовательское соглашение (оранжевый прямоугольник).</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">Теперь вы авторизованы полностью и в Электронном каталоге Библиотеки им. А. Ф. Кони, и в Электронной библиотечной системе &laquo;Юрайт&raquo;. Вам доступна коллекция книг (более 7000 учебных изданий) по всем дисциплинам курса.</span></p>
<p><span style="font-size: 10pt;">&nbsp;</span></p>
<p><span style="font-size: 10pt;">За более подробными разъяснениями обращайтесь в Читальный зал</span></p>
<p><span style="font-size: 10pt;">Библиотеки им. А. Ф. Кони, ауд. 201.</span></p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">[attachment=674]</span></p>
<p style="text-align: justify;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;"><b>[/spoiler]</b></span></p>
<p><br><br><br></p>
<p><b><span style="font-size: 18px; font-family: 'Times New Roman', Times, serif, '-webkit-standard';">Электронные ресурсы.</span></b></p>
<p><b><span style="font-size: 18px; font-family: 'Times New Roman', Times, serif, '-webkit-standard';"><span>[spoiler]</span></span></b></p>
<p><span style="font-size: 12pt;"><b><span style="font-family: 'times new roman', times, serif;">Российские базы данных:</span></b>
    </span><br><a href="https://biblio-online.ru/">ЮРАЙТ : электронно-библиотечная система</a><br><a href="http://elibrary.ru/">eLIBRARY.RU : научная электронная библиотека</a><br><a href="http://student.jurac.ru/">Moodle: </a><a href="http://student.jurac.ru/">Электронное образование</a></p>
<p><a href="http://www.consultant.ru/">"КонсультантПлюс": </a><a href="http://www.consultant.ru/">Справочная правовая система </a></p>
<p></p>
<p><span style="font-size: 12pt;"><b><span style="font-family: 'times new roman', times, serif;">Российские ресурсы открытого доступа:</span></b>
    </span>
</p>
<p><span style="font-size: 10pt;"><a href="http://www.pravo.gov.ru/">Официальный интернет-портал правовой информации. Государственная система правовой информации</a></span></p>
<p><span style="font-size: 10pt;"><a href="https://cyberleninka.ru/" target="_blank" rel="noopener"><span style="font-family: verdana, geneva, sans-serif;">КиберЛенинка : научная электронная библиотека открытого доступа</span></a>
    </span>
</p>
<p><a href="http://www.rsl.ru/">Российская Государственная Библиотека</a></p>
<p><a href="http://www.nlr.ru/">Российская Национальная библиотека</a></p>
<p><a href="https://www.prlib.ru/">Президентская библиотека</a></p>
<p><a href="http://diss.rsl.ru/">Библиотека диссертаций. Электронная библиотека РГБ</a></p>
<p><a href="http://rusarchives.ru/">Архивы России. Федеральное архивное агентство</a></p>
<p><a href="http://statearchive.ru/">Государственный архив Российской Федерации </a></p>
<p><a href="http://window.edu.ru/">Единое окно доступа к образовательным ресурсам. Юридическое образование.</a></p>
<p><span><a href="http://univermvd.ru/">Санкт-Петербургский университет МВД России </a></span></p>
<p><a href="http://rg.ru/"><span>Российская газета</span></a></p>
<p><a href="https://minobrnauki.gov.ru/"><span>Министерство науки и высшего образования Российской Федерации</span></a></p>
<p><a href="http://obrnadzor.gov.ru/ru/"><span>Федеральная служба по надзору в сфере образования и науки. Рособрнадзор</span></a></p>
<p><span><a href="http://edu.ru/">Российское образование: Федеральный портал</a><br></span></p>
<p><a href="http://scienceport.ru/"><span>Наука и образование против террора</span></a></p>
<p><a href="https://ncpti.su/"><span>Национальный центр информационного противодействия терроризму и экстремизму в образовательной среде и сети Интернет</span></a></p>
<p><a href="http://gov.ru/"><span>Официальная Россия. Сервер органов государственной власти Российской Федерации</span></a></p>
<p><a href="http://government.ru/">Правительство Российской Федерации</a></p>
<p><a href="https://open.gov.ru/">Экспертный совет при Правительстве РФ</a></p>
<p><a href="http://kremlin.ru/">Президент России : официальный сайт</a></p>
<p><a href="http://council.gov.ru/">Совет Федерации Федерального Собрания Российской Федерации</a></p>
<p><a href="http://duma.gov.ru">Государственная Дума Федерального Собрания Российской Федерации</a></p>
<p><a href="http://constitution.garant.ru/">Сайт Конституции Российской Федерации</a></p>
<p><a href="http://mvd.ru/"><span>Министерство внутренних дел Российской Федерации</span></a></p>
<p><span><a href="http://minfin.ru/">Министерство финансов Российской Федерации</a></span></p>
<p><a href="http://scrf.gov.ru"><span>Совет Безопасности Российской Федерации</span></a></p>
<p><a href="https://nalog.ru/"><span>Федеральная налоговая служба</span></a></p>
<p><a href="http://fssprus.ru/"><span>Федеральная служба судебных приставов</span></a></p>
<p><a href="http://customs.ru/"><span>Федеральная таможенная служба</span></a></p>
<p><a href="https://gks.ru/"><span>Федеральная служба государственной статистики</span></a></p>
<p><a href="http://sudrf.ru/"><span>Государственная автоматизированная система Российской Федерации &laquo;Правосудие&raquo;</span></a></p>
<p><a href="http://vsrf.ru"><span>Верховный Суд Российской Федерации</span></a></p>
<p><a href="http://ksrf.ru/"><span>Конституционный Суд Российской Федерации</span></a></p>
<p><a href="http://arbitr.ru/"><span>Федеральные арбитражные суды Российской Федерации</span></a></p>
<p><a href="http://ssrf.ru/"><span>Совет судей Российской Федерации</span></a></p>
<p></p>
<p></p>
<p></p>
<p><span style="font-size: 12pt;"><b><span style="font-family: 'times new roman', times, serif;">Зарубежные ресурсы открытого доступа:</span></b>
    </span>
</p>
<p><a href="http://onlinebooks.library.upenn.edu/">Online Books Page</a>. Более 15 тыс. полнотекстовых книг и других изданий с сервера University of Pennsylvania (США). Поиск по - автору, названию и ключевым словам. Материал по темам: экономика и право,
    экономическая теория, экономическая история. Язык английский.</p>
<p><a href="http://www.ssrn.com/index.cfm">SSRN</a>. Social Science Electronic Publishing. Полнотекстовые работы в свободном доступе по экономической теории, учету, финансам, информатике, праву, менеджменту, маркетингу, страхованию.</p>
<p><span style="font-size: 10pt; font-family: verdana, geneva, sans-serif;"><a href="http://www.loc.gov/rr/business/techreps/techrepshome.php">Technical Reports and Working Papers in Business and Economics: Library of Congress (США)</a>. Рабочие документы и технологические отчеты в бизнесе, экономике и праве. Язык английский.</span></p>
<p></p>
<p><span style="font-size: 12pt;"><b><span style="font-family: 'times new roman', times, serif;"><b>Путеводители</b></span></b>
    </span>
</p>
<p><a href="http://www.prometeus.nsc.ru/sciguide/">SciGuide</a>. Проект Сибирского отделения РАН. Путеводитель по зарубежным научным ресурсам открытого доступа.</p>
<p><a href="http://www.doaj.org/">DOAJ : </a>Directory of open acsess journals. Путеводитель по журналам открытого доступа. Электронные научные журналы по различным направлениям, в т. ч. по юриспруденции и политике.</p>
<p>[/spoiler]</p>
<p><br><br></p>
<h5><a href="/uploads/DOCUMENTS/biblio/biblio.pdf">ПОЛОЖЕНИЕ о Библиотеке им. А. Ф. Кони "Санкт-петербургской юридической академии"</a></h5>
<p></p>
<div style="text-align: center;"><b><span style="font-size: 14px; font-family: 'Times New Roman', Times, serif, '-webkit-standard';">Абонемент</span></b></div>
<p><b><span style="font-size: 14px; font-family: 'Times New Roman', Times, serif, '-webkit-standard';"><a class="highslide" href="https://jurac.ru/uploads/posts/2018-07/1530537125_img_8232.jpg" target="_blank" rel="noopener"><img src="https://jurac.ru/uploads/posts/2018-07/medium/1530537125_img_8232.jpg" alt="" class="fr-dib fr-bordered fr-shadows" style="width: 599px;"></a></span></b></p>
<div style="text-align: center;"><b><span style="font-size: 14px; font-family: 'Times New Roman', Times, serif, '-webkit-standard';">Читальный зал</span></b></div>
<h5 style="text-align: center;">
    <a class="highslide" href="https://jurac.ru/uploads/posts/2019-04/1554117431_img_3844.jpg"><img src="https://jurac.ru/uploads/posts/2019-04/medium/1554117431_img_3844.jpg" class="fr-fic fr-dib fr-bordered fr-shadows" style="width: 601px;" alt=""></a>
</h5>
<p><br><br></p>
<div style="text-align: center;"><b><span style="font-size: 14px;">Сотрудники библиотеки</span></b><span style="font-size: 14px;"><br>Заведующий библиотекой - Гоосс Наталья Николаевна<br>Библиограф - Калинина Елена Сергеевна<br>Библиотекарь -Азимова Алла Игоревна</span></div>
<p></p>
<p></p>
<table class="fr-solid-borders" style="height: 79px; width: 765px; border-color: #000000;" border="1">
    <tbody>
        <tr>
            <td colspan="8" style="width: 717px; text-align: center;">Режим работы библиотеки</td>
        </tr>
        <tr>
            <td style="width: 89px; text-align: center;">Понедельник</td>
            <td style="width: 89px; text-align: center;">Вторник</td>
            <td style="width: 87px; text-align: center;">Среда</td>
            <td style="width: 92px; text-align: center;">Четверг</td>
            <td style="width: 97px; text-align: center;">Пятница</td>
            <td colspan="3" style="width: 263px; text-align: center;">Перерыв на обед</td>
        </tr>
        <tr>
            <td colspan="4" style="width: 357px; text-align: center;">с 9:30 до 18:00</td>
            <td style="width: 97px; text-align: center;">с 9:30 до 17:00</td>
            <td colspan="3" style="width: 263px; text-align: center;">с 12:30 до 13:10</td>
        </tr>
    </tbody>
</table>
<h5><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;"><u>Последний четверг каждого месяца -&nbsp;санитарный день</u></span></h5>
<p style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;"><span style="font-size: 14px;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">Телефоны: +7(812)380-00-47; +7(921)564-31-90.</span></span>
</p>
<p style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;"><span style="font-size: 14px;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">E-mail:<a href="mailto:biblioteka@jurac.ru">biblioteka@jurac.ru.</a></span></span>
</p>
<p style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;">Доб.: 211 и 221 - абонемент, 201 - читальный зал</span></p>
<p style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;"></p>
<h5><a href="https://jurac.ru/uploads/files/2019-09/1569495180_pravila_biblio.pdf" target="_blank" rel="noopener">Правила пользования библиотекой им. А.Ф. Кони Санкт-Петербургской юридической академии</a></h5>
<h5><a href="https://jurac.ru/uploads/files/2017-12/1512467318_polozhenie-ob-elektronnoy-biblioteke1.pdf" target="_blank" rel="noopener">Положение об электронной библиотеке им. А.Ф. Кони Санкт-Петербургской юридической академии</a></h5>
<h5><a href="https://jurac.ru/uploads/files/2019-09/1568117670_pologenieek_new.pdf" target="_blank" rel="noopener">Положение об электронном каталоге библиотеки им. А.Ф. Кони Санкт-Петербургской юридической академии</a></h5>
<h5><a href="https://jurac.ru/uploads/files/2017-12/polog_formfond_biblio.pdf" target="_blank" rel="noopener">Положение о формировании фондов библиотеки им. А.Ф. Кони Санкт-Петербургской юридической академии</a></h5>
<p><br><br></p>
<p style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;"><b><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">Список периодических изданий библиотеки Санкт-Петербургской юридической академии на 2019 год:</span></b></p>
<p><span style="font-size: 18px;"><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">[spoiler]<br></span></span>
</p>
<ul>
    <li>&laquo;Администратор образования&raquo;</li>
    <li>&laquo;Аккредитация в образовании&raquo;</li>
    <li>&laquo;Арбитражный и гражданский процесс&raquo;</li>
    <li>&laquo;Бюллетень Верховного Суда РФ&raquo;</li>
    <li>&laquo;Бюллетень&nbsp; высшей аттестационной комиссии&nbsp; Министерства образования РФ&raquo;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;
    </li>
    <li>&laquo;Высшее образование в России&raquo;</li>
    <li>&laquo;Государство и право&raquo;</li>
    <li>&laquo;Гражданское право&raquo;</li>
    <li>&laquo;Журнал Российского права&raquo;</li>
    <li>&laquo;Интеллектуальная собственность. Авторское право и смежные права&raquo;</li>
    <li>&laquo;История государства и права&raquo;</li>
    <li>&laquo;Конституционное и муниципальное право&raquo;</li>
    <li>&laquo;Международное публичное и частное право&raquo;</li>
    <li>&laquo;Наследственное право&raquo;</li>
    <li>&laquo;Право и государство: теория и практика&raquo;</li>
    <li>&laquo;Предпринимательское право&raquo; (с приложением)</li>
    <li>&laquo;Российская газета&raquo;. Комплект № 4 (с приложением &laquo;Новые законы и нормативные акты&raquo;)</li>
    <li>&laquo;Библиотечка &laquo;Российской газеты&raquo;</li>
    <li>&laquo;Семейное и жилищное право&raquo;</li>
    <li>&laquo;Социальное и пенсионное право&raquo;</li>
    <li>&laquo;Трудовое право в России и за рубежом&raquo;</li>
    <li>&laquo;Уголовное право&raquo;</li>
    <li>&laquo;Уголовный процесс&raquo;</li>
    <li>&laquo;Университетская книга&raquo;</li>
    <li>&laquo;Учет, налоги, право&raquo; ( с приложением &laquo;Официальные документы&raquo;)</li>
    <li>&laquo;Философия права&raquo;</li>
    <li>&laquo;Финансовое право&raquo;</li>
    <li>&laquo;Хозяйство и право&raquo; (с приложением)</li>
    <li>&laquo;Экологическое право&raquo;</li>
    <li>&laquo;Эксперт-криминалист&raquo;</li>
    <li>&laquo;Юридическое образование и наука&raquo;</li>
</ul>
<p>[/spoiler]</p>
<p style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;"></p>
<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;"></p>