<p
  style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
  С 2013 года в Санкт-Петербургской юридической академии функционирует центр содействия трудоустройству выпускников. Он
  был создан приказом ректора №104-о/д от 02.09.2013 года. Этим же приказом утверждено положение о Центре, которое
  определяет цели и основные задачи Центра. Деятельность центра регламентируется рядом законодательных актов:
  межведомственной программой содействия трудоустройству и адаптации к рынку труда выпускников учреждений
  профессионального образования; приказом Минобразования России и Минтруда РФ от 24.07.2000 №2285/187 &laquo;О
  реализации Межведомственной программы содействия трудоустройству и адаптации к рынку труда выпускников учреждений
  профессионального образования&raquo;; приказом Минобразования России и Минтруда РФ от 04.10.1999 №462/175 &laquo;О
  мерах по эффективному формированию системы содействия трудоустройству выпускников профессиональных образовательных
  учреждений&raquo;; письмом Минобразования России ректорам подведомственных высших учебных заведений от 16.07.2001 г. №
  39-56-56ин/39-20 &laquo;О создании центров содействия занятости учащейся молодежи и трудоустройству выпускников
  учреждений профессионального образования&raquo; и некоторыми другими.</p>
<p
  style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
</p>
<p
  style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
  Цель деятельности Центра &ndash; содействовать занятости обучающихся и эффективному трудоустройству выпускников
  посредством решения следующих задач:</p>
<p
  style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
  -предоставление данных студентам о рынке труда и перспективах трудоустройства;</p>
<p
  style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
  -сотрудничество с предприятиями. Организациями, учреждениями, заинтересованными в квалифицированных кадрах;</p>
<p
  style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
  -взаимодействие с местными органами власти, в том числе территориальными органами государственной службы занятости
  населения;</p>
<p
  style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
  -сбор и обобщение базы данных по вакансиям;</p>
<p
  style="margin-right: 0cm; margin-left: 0cm; font-size: 16px; font-family: 'Times New Roman', serif; margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
  -проведение организационных мероприятий (ярмарок вакансий, презентаций предприятий, встреч с работодателем и т.п.).
</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <br><b>Работу в этом направлении факультеты строят совместно с центром содействия трудоустройству выпускников и
    центром профориентационной деятельности и практической подготовки обучающихся, а так же работниками отдела кадров
    Автономной некоммерческой организации высшего образования &laquo;Санкт-Петербургская юридическая
    академия&raquo;.</b></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  Приоритетными мероприятиями по трудоустройству и занятости обучающихся и выпускников являются:</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  1.Сотрудничество с органами государственной и муниципальной власти и иными организациями, выступающими в качестве
  работодателей для обучающихся и выпускников академии.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  2.Взаимодействие с Комитетом по труду и занятости населения Санкт-Петербурга: получение информации о выпускниках,
  зарегистрированных в службах занятости населения, участие в городских &laquo;Днях карьеры&raquo;, &laquo;Ярмарках
  вакансий&raquo;.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  3.Сбор заявок от организаций-работодателей с целью предоставления информации обучающимся и выпускникам для дальнейшего
  трудоустройства.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  4.Анкетирование выпускников с целью выявления нуждающихся в трудоустройстве.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  5.Помощь в составлении резюме, характеристики, адаптации на новом рабочем месте (проведение семинаров-тренингов по
  вопросам поиска работы, прохождения собеседования с работодателем, самопрезентации при устройстве на работу).</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  6.Проведение информационных мероприятий (презентации организаций-работодателей, встречи обучающихся и выпускников с
  представителями работодателей, мероприятий по информированию о возможности вступления в Молодежный кадровый резерв
  Санкт-Петербурга и Ленинградской области).</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  7.Организация встреч студентов с предполагаемыми работодателями и выпускниками академии.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  8.Привлечение трудоустроенных выпускников к сотрудничеству по вопросам информирования студентов об опыте поиска работы
  и возможности трудоустройства в их организациях.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  9.Содействие в трудоустройстве обучающихся на временные вакансии.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  10.Использования прохождения ознакомительной и производственной практик студентов в качестве важной формы
  ориентирования на выбор будущего трудоустройства.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <br>В настоящее время выпускники академии проходят службу в правоохранительных органах (в полиции, следственном
  комитете, федеральной службе судебных приставов Российской Федерации, федеральной службе исполнения наказаний,
  таможенной службе и иных силовых структурах). Трудятся выпускники так же в органах государственной и муниципальной
  властей Российской Федерации, в судебных органах.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <br>В качестве примеров можно привести следующее: Ведущим юристом в ООО &laquo;ПСК &laquo;Святогор&raquo; работает
  Яковлев В.Н., юристом в ООО Премиум &ndash;Право трудится Кортавенко В.Э.Выпускник Носырев А.Д. является
  юрисконсультом в ФГУ &laquo;Псковводхоз&raquo;. Дидигов Хаджи-Мурат успешно трудится в должности юриста по
  внешнеэкономической деятельности в компании &laquo;Аудит Энерго Групп&raquo;, юрисконсультом в ФГБУ
  &laquo;Балттехмордирекция&raquo; работает Чернышова Е.И., юристом в строительной фирме Л1 работает Тарасова
  И.А.,юристом отдела методологии в ПАО СК &laquo;Росгосстрах&raquo; работает Белан И.И.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <br>Выпускница 2017 года Пинигина И.С. работает помощником руководителя Ставропольской компании ООО &laquo;Вуд
  Мастер&raquo;, специализирующейся на строительстве мостов, путепроводов и автодорог.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <br>В арбитражном суде Санкт-Петербурга и ЛО трудится Тисленок Ю.А. В Невском районном суде работает Шапошникова В.В.,
  помощником судьи в 13 арбитражном апелляционном суде работает Пермякова Е.П., юрисконсультом в администрации г.
  Сосновый Бор трудится Микрюкова В.В.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <br>В Федеральной службе судебных приставов (УФССП Правобережный отдел) работает Мекрюков А.Е., в следственном
  управлении МВД по Северному округу г. Москвы работает Скрипкина В.А., в ФГКОУ ВПО институте ФСБ России служит Бутырчик
  Г.А., юрисконсультом в подразделении ФСИН России работает выпускница Гришко В.Н., в военных следственных органах
  Северо-Западного военного округа служит выпускник 2015 года Алиев Р.Н.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <br>В Следственном отделе по Красногвардейскому району ГСУ СК РФ работает выпускник 2019 года Гуска М.А, Сальников
  Р.В. работает следователем в ГСУ СК РФ Фрунзенского района, Салахиева Э.Г. в следственном отделе по Московскому району
  главного следственного управления Санкт-Петербурга. Секретарём суда аппарата мирового судьи Красногвардейского р-на
  СПб работает Кононов А.В.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <br>Более 30 выпускников бакалавриата продолжают учебу в магистратуре академии и других образовательных организаций
  высшего образования в Санкт-Петербурге. Отдельные выпускники благодаря юридическому образованию занимают ведущие
  должности в иных структурах, как например, выпускница Чеботарь С.С. трудится инженером МТО Газпром добыча Уренгой,
  выпускники Турманидзе Т.М. и Миралиев Т.Я. работают руководителями в сфере торгового бизнеса, Куликова Д.В. служит
  hr-аналитиком в IT-компании.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  Таким образом, 51% выпускников по направлению подготовки 40.03.01 Юриспруденция (уровень бакалавриата) по очной форме
  обучения были трудоустроены, (из них 61% - по специальности), 39% продолжили обучение по направлению подготовки
  40.04.01 Юриспруденция (квалификация &laquo;магистр&raquo;), 4% выпускников были призваны в ряды Вооруженных Сил РФ.
</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  Около 70% выпускников бакалавриата, которые поддерживают связь с академией либо трудятся на юридическом поприще, либо
  продолжают учебу в магистратуре по юридической специальности.</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  Система трудоустройства выпускников факультета на рынке труда основывается на индивидуальном подходе к каждому из
  студентов последнего года обучения в части его предстоящего трудоустройства после окончания ВУЗа.</p>
<p><br><br></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <b>Сведения о трудоустройстве выпускников</b></p>
<p></p>
<p><br><br></p>
<table
  style="height: 96px; width: 100%; border-collapse: collapse; border-style: groove; margin-left: auto; margin-right: auto;"
  border="1">
  <tbody>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 2.19935%; height: 32px;" rowspan="2"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">№</span></td>
      <td class="fr-blue" style="width: 9.45837%; height: 32px;" rowspan="2">
        <p><span style="font-family: 'andale mono', monospace; font-size: 10pt;">Название специальности</span></p>
        <p><span style="font-family: 'andale mono', monospace; font-size: 10pt;">(направления подготовки)</span></p>
      </td>
      <td class="fr-blue" style="width: 22.1668%; height: 16px;" colspan="2"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">2016</span></td>
      <td class="fr-blue" style="width: 22.2752%; height: 16px;" colspan="2"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">2017</span></td>
      <td class="fr-blue" style="width: 21.5168%; height: 16px;" colspan="2"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">2018</span></td>
      <td class="fr-blue" style="width: 22.3835%; height: 16px;" colspan="2"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">2019</span></td>
    </tr>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 9.24158%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 8pt;">Количество выпускников</span></td>
      <td class="fr-blue" style="width: 12.9253%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 8pt;">Количество трудоустроенных выпускников</span>
      </td>
      <td class="fr-blue" style="width: 10.325%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 8pt;">Количество выпускников</span></td>
      <td class="fr-blue" style="width: 11.9502%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 8pt;">Количество трудоустроенных выпускников</span>
      </td>
      <td class="fr-blue" style="width: 9.56661%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 8pt;">Количество выпускников</span></td>
      <td class="fr-blue" style="width: 11.9502%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 8pt;">Количество трудоустроенных выпускников</span>
      </td>
      <td class="fr-blue" style="width: 8.69986%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 8pt;">Количество выпускников</span></td>
      <td class="fr-blue" style="width: 13.6836%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 8pt;">Количество трудоустроенных выпускников</span>
      </td>
    </tr>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 2.19935%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">1</span></td>
      <td class="fr-blue" style="width: 9.45837%; height: 16px;">
        <p><span style="font-family: 'andale mono', monospace; font-size: 10pt;">40.03.01 - Юриспруденция;</span></p>
        <p><span style="font-family: 'andale mono', monospace; font-size: 10pt;">Очная форма</span></p>
      </td>
      <td class="fr-blue" style="width: 9.24158%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">50</span></td>
      <td class="fr-blue" style="width: 12.9253%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">34</span></td>
      <td class="fr-blue" style="width: 10.325%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">50</span></td>
      <td class="fr-blue" style="width: 11.9502%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">20</span></td>
      <td class="fr-blue" style="width: 9.56661%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">57</span></td>
      <td class="fr-blue" style="width: 11.9502%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">32</span></td>
      <td class="fr-blue" style="width: 8.69986%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">74</span></td>
      <td class="fr-blue" style="width: 13.6836%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">36</span></td>
    </tr>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 2.19935%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">2</span></td>
      <td class="fr-blue" style="width: 9.45837%; height: 16px;">
        <p><span style="font-family: 'andale mono', monospace; font-size: 10pt;">40.03.01 - Юриспруденция;</span></p>
        <p><span style="font-family: 'andale mono', monospace; font-size: 10pt;">Заочная форма</span></p>
      </td>
      <td class="fr-blue" style="width: 9.24158%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">148</span></td>
      <td class="fr-blue" style="width: 12.9253%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">144</span></td>
      <td class="fr-blue" style="width: 10.325%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">271</span></td>
      <td class="fr-blue" style="width: 11.9502%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">271</span></td>
      <td class="fr-blue" style="width: 9.56661%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">202</span></td>
      <td class="fr-blue" style="width: 11.9502%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">202</span></td>
      <td class="fr-blue" style="width: 8.69986%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">129</span></td>
      <td class="fr-blue" style="width: 13.6836%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">129</span></td>
    </tr>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 2.19935%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">3</span></td>
      <td class="fr-blue" style="width: 9.45837%; height: 16px;">
        <p><span style="font-family: 'andale mono', monospace; font-size: 10pt;">40.04.01 - Юриспруденция;</span></p>
        <p><span style="font-family: 'andale mono', monospace; font-size: 10pt;">Очная форма</span></p>
      </td>
      <td class="fr-blue" style="width: 9.24158%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">40</span></td>
      <td class="fr-blue" style="width: 12.9253%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">40</span></td>
      <td class="fr-blue" style="width: 10.325%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">27</span></td>
      <td class="fr-blue" style="width: 11.9502%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">27</span></td>
      <td class="fr-blue" style="width: 9.56661%; height: 16px;">40</td>
      <td class="fr-blue" style="width: 11.9502%; height: 16px;">39</td>
      <td class="fr-blue" style="width: 8.69986%; height: 16px;">60</td>
      <td class="fr-blue" style="width: 13.6836%; height: 16px;">54</td>
    </tr>
    <tr style="height: 16px;">
      <td class="fr-blue" style="width: 2.19935%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">4</span></td>
      <td class="fr-blue" style="width: 9.45837%; height: 16px;">
        <p><span style="font-family: 'andale mono', monospace; font-size: 10pt;">40.04.01 - Юриспруденция;</span></p>
        <p><span style="font-family: 'andale mono', monospace; font-size: 10pt;">Заочная форма</span></p>
      </td>
      <td class="fr-blue" style="width: 9.24158%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">43</span></td>
      <td class="fr-blue" style="width: 12.9253%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">43</span></td>
      <td class="fr-blue" style="width: 10.325%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">54</span></td>
      <td class="fr-blue" style="width: 11.9502%; height: 16px;"><span
          style="font-family: 'andale mono', monospace; font-size: 10pt;">54</span></td>
      <td class="fr-blue" style="width: 9.56661%; height: 16px;">41</td>
      <td class="fr-blue" style="width: 11.9502%; height: 16px;">41</td>
      <td class="fr-blue" style="width: 8.69986%; height: 16px;">40</td>
      <td class="fr-blue" style="width: 13.6836%; height: 16px;">40</td>
    </tr>
  </tbody>
</table>
<p><br><br></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <b>Организационно - методическое обеспечение содействия в трудоустройстве выпускников включает в себя следующие виды
    работ:</b></p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  -формирование каталога вакансий по Санкт &ndash; Петербургу и Ленинградской области и ознакомление с ним выпускников.
</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  -организация различного вида мероприятий, направленных на содействие в трудоустройстве выпускника (ярмарки вакансий,
  проводимые совместно со службами занятости населения, представителями работодателей из самых различных структур).</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  -организация всех видов практик;</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  -оказание помощи выпускникам в ведении личного портфолио и составлении профессионального резюме.</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <b>Для организации работы по трудоустройству выпускников юриспруденции используются следующие ресурсы:</b></p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  -Веб-сайта академии (https://jurac.ru)</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  Контент Веб-сайта содержит полезную информацию и ссылки для обучающихся, выпускников и работодателей во вкладках
  &laquo;Как составить резюме&raquo;, &laquo;Как успешно пройти собеседование&raquo;, &laquo;Требования к должностям
  государственной гражданской службы&raquo;, &laquo;Предлагаем вам вакансии для работы&raquo;.</p>
<p></p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  -Социальные сети</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <b>В работе по трудоустройству выпускников используется социальная сеть &laquo;ВКонтакте&raquo;, в которой
    зарегистрированы <a href="https://vk.com/club159942048">сообщества всех учебных групп</a>.</b></p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  -Индивидуальнаяработа со студентами и выпускниками</p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <b>Со студентами и выпускниками прошлых лет индивидуальная работа проводилась в следующей форме:</b></p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  -помощь в составлении документов при поиске работы (резюме, эссе, поисковые и сопроводительные письма,
  характеристики);</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  -подбор рабочего места, как для постоянной, так и для временной занятости;</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  -проведение консультаций, бесед, направленных на формирование поведенческих навыков на рынке труда (подготовка к
  интервью с работодателем, техника телефонных переговоров, прохождение собеседования);</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  -проведение индивидуальных консультаций по определению профессионального становления.</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  -Информирование о мероприятиях, проводимых в Санкт-Петербурге и Ленинградской области для студентов и выпускников</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  -Организация временной занятости студентов</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  Организация временной занятости студентов осуществляется в виде прохождения практик.</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  <b>Анализ трудоустройства выпускников позволяет сделать следующие выводы:</b></p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  1.Мониторинг показателей трудоустройства выпускников показывает положительную динамику.</p>
<p></p>
<p
  style="margin: 0cm; margin-bottom: .0001pt; font-size: 16px; font-family: 'Times New Roman', serif; margin-right: 0cm; margin-left: 0cm; text-align: justify;">
  2.Процесс подготовки квалифицированных специалистов на факультете направлен на обеспечение необходимого качества в
  соответствии с требованиями работодателя, формирование высокого уровня готовности к профессиональной деятельности и
  конкурентоспособности на рынке труда.</p>
<p></p>
<hr>
<p></p>
<h4>Приказ о создании Центра содействия трудоустройству выпускников Санкт-Петербургской юридической академии&nbsp;</h4>
<p>[attachment=189]<br><br></p>
<h4>Как составить резюме</h4>
<p>[spoiler]<br><span style="font-size: 14px; color: #000000;">РЕЗЮМЕ - ваша визитная карточка на рынке труда, одно из
    самых эффективных средств саморекламы и самомаркетинга. Резюме &ndash; документ, представляющий собой краткую
    историю карьеры и описание профессионально важных качеств. Резюме оставляется или высылается работодателям для
    предварительного ознакомления и принятия ими решения о приглашении вас на интервью. Резюме используется при
    трудоустройстве в большинстве зарубежных и отечественных коммерческих фирм и государственных организаций. Резюме
    должно красиво выглядеть. Ведь это первое впечатление о Вас, которое получает работодатель.&nbsp;</span><span
    style="font-size: 14px;"><br><span style="color: #000000;">Цель резюме - привлечь внимание потенциального
      работодателя.&nbsp;</span><br><br><br><span style="color: #0000ff;">Поэтому резюме должно удовлетворять следующим
      требованиям:&nbsp;</span><br><span style="color: #000000;">Краткость &ndash; объем текста равен одной
      странице</span><br><span style="color: #000000;">Уместность &ndash; пишите только о том, что имеет отношение к
      работе, избегайте ненужных деталей и подробностей</span><br><span style="color: #000000;">Правдивость &ndash;
      предоставляйте только ту информацию, которую вы можете полностью подтвердить</span><br><span
      style="color: #000000;">Позитивный характер &ndash; создавайте благоприятное впечатление, подчеркивайте
      положительные качества и сильные стороны, перечисляйте успехи</span><br><span
      style="color: #000000;">Систематичность &ndash; излагайте информацию последовательно, не допускайте пропусков во
      времени</span><br><span style="color: #000000;">Уникальность &ndash; пишите о том, что характеризует Вас как
      специалиста, отличает вас от большинства других кандидатов на должность</span><br><span
      style="color: #000000;">Хороший стиль изложения &ndash; пользуйтесь точными формулировками, избегайте непонятных
      сокращений и жаргонизмов</span><br><span style="color: #000000;">Грамотность</span><br><span
      style="color: #000000;">При написании резюме следует исходить из принципа избирательности, отбирая информацию для
      резюме согласно его целям. Задача человека, пославшего резюме - добиться, чтобы читающий захотел встретиться с ним
      лично.</span><br><br><br><span style="color: #0000ff;">Резюме включает в себя следующие пункты:</span><br><span
      style="color: #000000;">Имя, адрес, номер телефона (включая код города)</span><br><span
      style="color: #000000;">Цель - краткое описание должности, на которую претендует соискатель</span><br><span
      style="color: #000000;">Опыт работы. Трудовой опыт указывается в обратном хронологическом порядке (сначала
      указывается последнее место работы). Необходимо указать даты начала и окончания работы, наименование организации,
      название должности, должностные обязанности и имевшие место производственные достижения.</span><br><span
      style="color: #000000;">Образование (чем больше прошло времени с момента окончания учебного заведения, тем меньше
      места этот пункт должен занимать в резюме). Для выпускников этот пункт обычно помещают перед предыдущим, так как
      опыт работы, если он есть, менее значителен. Можно отдельным пунктом включить повышение квалификации, которое
      подчеркивает повышение профессионализма.</span><br><span style="color: #000000;">Профессиональные умения и навыки.
      Перечислите имеющиеся у вас профессиональные знания, умения и навыки, необходимые для квалифицированного
      выполнения обязанностей в рамках той должности, на которую Вы претендуете, а также производственные
      достижения.</span><br><span style="color: #000000;">Дополнительная информация - владение иностранными языками,
      компьютером, языками программирования, наличие водительских прав, собственного автомобиля и т.п. Можете указать
      свои положительные качества, которые Вам помогут успешно выполнять предполагаемые
      обязанности.</span><br><br><br><span style="color: #0000ff;">Информация, которую не следует включать в
      резюме:</span><br><span style="color: #000000;">Всю трудовую биографию подробно. Работодателя интересуют период
      работы не более 10 лет</span><br><span style="color: #000000;">Физические данные</span><br><span
      style="color: #000000;">Фотографию (чтобы первое впечатление о кандидате сформировалось на основе личного
      общения)</span><br><span style="color: #000000;">Причины ухода с работы</span><br><span
      style="color: #000000;">Свои требования к зарплате</span><br><span style="color: #000000;">Имена рекомендателей
      (такой список можно подготовить отдельно, идя на собеседование)</span><br></span><span
    style="font-size: 14px; color: #000000;">Личные проблемы, которые не стоит подчеркивать и в личном разговоре с
    работодателем</span><br>[/spoiler]<br><br></p>
<h4>Как успешно пройти собеседование</h4>
<p>[spoiler]<br><span style="font-size: 14px; color: #0000ff;">СОБЕСЕДОВАНИЕ &ndash; НАИЛУЧШИЙ СПОСОБ ПОКАЗАТЬ
    РАБОТОДАТЕЛЮ СВОИ ПРОФЕССИОНАЛЬНЫЕ И ЛИЧНОСТНЫЕ КАЧЕСТВА</span><span style="font-size: 14px;"><br><span
      style="color: #000000;">Поведение на собеседовании</span><br><span style="color: #000000;">Представьтесь в начале
      собеседования. Поинтересуйтесь, как зовут собеседника.</span><br><span style="color: #000000;">Держите зрительный
      контакт.</span><br><span style="color: #000000;">Внимательно выслушивайте вопросы, не перебивайте.</span><br><span
      style="color: #000000;">Если Вы не уверены, что поняли вопрос, не стесняйтесь уточнить (&laquo;Правильно ли я
      понял, что ...&raquo;).</span><br><span style="color: #000000;">Отвечайте по существу, избегайте
      многословия.</span><br><span style="color: #000000;">Отвечая, будьте объективны и правдивы</span><br><span
      style="color: #000000;">Столкнувшись с необходимостью давать негативную информацию о себе, не отрицайте фактов,
      которые соответствуют истине, но обязательно старайтесь сбалансировать их позитивной информацией о
      себе.</span><br><span style="color: #000000;">Держитесь с достоинством, старайтесь не производить впечатление
      неудачника или бедствующего человека.</span><br><span style="color: #000000;">Задавая вопросы, интересуйтесь
      содержанием работы и условиями успешного ее выполнения.</span><br><span style="color: #000000;">Обязательно
      уточните, как Вы узнаете о результате, постарайтесь обговорить право позвонить самому.</span><br><span
      style="color: #000000;">Завершая собеседование, не забудьте об обычных правилах
      вежливости.&nbsp;</span><br><br><br><span style="color: #0000ff;">Список вопросов, которые наиболее часто задаются
      на собеседовании</span><br><span style="color: #000000;">Почему вам интересна именно эта
      профессия?</span><br><span style="color: #000000;">Что вы знаете об этой работе или о нашей организации
      (фирме)?</span><br><span style="color: #000000;">Что вы будете делать, если&hellip; (далее обычно следует описание
      какой-либо критической ситуации)?</span><br><span style="color: #000000;">Как вы могли бы описать самого
      себя?</span><br><span style="color: #000000;">Что вы хотите рассказать о себе?</span><br><span
      style="color: #000000;">Каковы ваши сильные стороны?</span><br><span style="color: #000000;">Каковы ваши основные
      слабости?</span><br><span style="color: #000000;">Какого типа работу вы больше всего любите
      делать?</span><br><span style="color: #000000;">Каковы ваши интересы вне работы?</span><br><span
      style="color: #000000;">Какого типа работу вы не любите делать?</span><br><span style="color: #000000;">Какие
      достижения или результаты работы доставляют вам наибольшее удовлетворение?</span><br><span
      style="color: #000000;">Каково состояние вашего здоровья?</span><br><span style="color: #000000;">Что вам
      нравилось больше всего, а что меньше всего на прошлой работе?</span><br><span style="color: #000000;">Почему вы
      оставили свою прежнюю работу?</span><br><span style="color: #000000;">Какое отношение имеют ваше образование или
      опыт трудовой деятельности к данной работе?</span><br><span style="color: #000000;">На какие изменения в вашей
      профессиональной карьере и жизни вообще вы рассчитываете?</span><br><span style="color: #000000;">Каковы ваши цели
      в жизни?</span><br><span style="color: #000000;">Чем вы надеетесь заниматься через 5-10 лет?</span><br><span
      style="color: #000000;">На какую зарплату вы рассчитываете?&nbsp;</span><br><br><br><span
      style="color: #0000ff;">Список некоторых вопросов, которые следует задать вам</span><br><span
      style="color: #000000;">Как примерно будет выглядеть мой рабочий день?</span><br><span
      style="color: #000000;">Кому я буду непосредственно подчиняться?</span><br><span style="color: #000000;">Могу ли я
      с ним встретиться?</span><br><span style="color: #000000;">Будет ли кто-то в подчинении у меня?</span><br><span
      style="color: #000000;">Могу ли я с ним встретиться?</span><br><span style="color: #000000;">Насколько важна эта
      работа для организации (фирмы)?</span><br><span style="color: #000000;">Какие имеются возможности для служебного
      или профессионального роста?</span><br><span style="color: #000000;">Почему это место оставил прежний
      работник?</span><br><span style="color: #000000;">В чем состоит главная проблема (задача, цель) данной
      работы?</span><br><span style="color: #0000ff;">Все ваши убеждения-установки хороши, но не все из них полезны и
      эффективны в данной конкретной ситуации&nbsp;</span><br><br><br><span style="color: #000000;">1. УСТАНОВКА
      &laquo;МЕНЯ ВСЕ РАВНО НЕ ПРИМУТ&raquo;</span><br><span style="color: #000000;">РЕЗУЛЬТАТ: Если вы убеждены, что
      цель недостижима, то прикладывать усилия к тому, чтобы ее достичь, бессмысленно. Встречаясь с самым минимальным
      препятствием, вы не пытаетесь продумать, как его обойти.</span><br><span style="color: #000000;">2. УСТАНОВКА
      &laquo;МЕНЯ ВСЕ РАВНО ВОЗЬМУТ&raquo;</span><br><span style="color: #000000;">РЕЗУЛЬТАТ: Если вы действуете, исходя
      из такого убеждения, то обычно вы не замечаете препятствий на своем пути. Достижение цели требует усилий, учета
      обстоятельств, сообразительности, быстрой реакции, но зачем все это, если &laquo;меня все равно
      возьмут&raquo;.</span><br><span style="color: #000000;">3. УСТАНОВКА &laquo;МЕНЯ ОБЯЗАТЕЛЬНО ВОЗЬМУТ НА РАБОТУ,
      ЕСЛИ Я ДОКАЖУ РАБОТОДАТЕЛЮ СВОЮ ПОЛЕЗНОСТЬ И НУЖНОСТЬ; ПРОДЕМОНСТРИРУЮ СВОИ ЛУЧШИЕ ПРОФЕССИОНАЛЬНЫЕ И ЛИЧНЫЕ
      КАЧЕСТВА&raquo;</span><br><span style="color: #000000;">РЕЗУЛЬТАТ: Работодатель, объявив о вакантном месте,
      получает выбор из нескольких кандидатур. Следовательно, я должен доказать, что моя кандидатура наиболее
      подходящая.&nbsp;</span><br><br><br><span style="color: #0000ff;">Советы для успешного прохождения
      собеседования</span><br><span style="color: #000000;">Составьте список всего того, что вам может понадобиться на
      собеседовании, начиная с паспорта и заканчивая ручкой и чистой бумагой;</span><br><span
      style="color: #000000;">Все документы и их копии уложите в приличную папку, на которой вы можете написать свою
      фамилию и телефон, по которому с вами можно связаться;</span><br><span style="color: #000000;">Хорошо выспитесь
      ночью;</span><br><span style="color: #000000;">Лучше всего одеться так, как принято в организации, в которую вы
      идете, а если вы этого не знаете, то ваша одежда должна быть достаточно официальной, но не броской, без
      экстрамодных аксессуаров;</span><br><span style="color: #000000;">Будьте вежливы, спокойны,
      внимательны.</span><br><span style="color: #000000;">ГЛАВНОЕ, ЧТО ВЫ ДОЛЖНЫ ПРОДЕМОНСТРИРОВАТЬ НА СОБЕСЕДОВАНИИ,
      ЭТО ЗАЧЕМ ВЫ НУЖНЫ ДАННОЙ, КОНКРЕТНОЙ ОРГАНИЗАЦИИ И ПОЧЕМУ ИМЕННО ВЫ.&nbsp;</span><br><br><br><span
      style="color: #0000ff;">Что должно насторожить при устройстве на работу</span><br><span
      style="color: #000000;">Объявления об одних и тех же либо родственных вакансиях публикуются компанией регулярно
      (периодичность варьируется от 1 недели до 6 месяцев).</span><br><span style="color: #000000;">Компания не
      указывает своего названия и ответственных лиц.</span><br><span style="color: #000000;">Для встреч используется
      вечернее время, либо выходные и праздничные дни.</span><br><span style="color: #000000;">Критерии отбора и
      требования к кандидатам не оглашаются.</span><br><span style="color: #000000;">После прохождения тех или иных
      процедур отбора вы не получаете собственных результатов или с вас берут за это деньги.</span><br><span
      style="color: #000000;">Вам предлагают выполнить домашнее задание, требующее специальных знаний, методик,
      переработки больших объемов информации, творческих и интеллектуальных усилий. Очень часто такие задания связаны с
      разработкой конкретных мероприятий, процедур, планированием деятельности, оценкой перспектив, анализом ситуации,
      прогнозами.</span><br><span style="color: #000000;">Домашнее задание носит рискованный характер. Например, вам
      предлагают собрать информацию о конкурентах, их услугах и т.п.</span><br><span style="color: #000000;">На вопрос о
      компенсациях ваших затрат или об оплате вашего труда отвечают уклончиво либо обещают компенсировать их в случае
      найма.</span><br><span style="color: #000000;">Вам предлагают поработать несколько дней без оплаты и оформления
      трудовых отношений.</span><br><span style="color: #000000;">Вам предлагают недели 2-3 поработать за половину
      оклада на условиях срочного трудового договора.</span><br><span style="color: #000000;">При вас (случайно)
      обронили фразу, что есть иные сильные кандидаты в большом количестве.</span><br><span style="color: #000000;">Вам
      прозрачно намекнули, что в компанию легче войти, чем выйти.</span><br><span style="color: #000000;">Вы
      сталкиваетесь с увольняемыми сотрудниками, у которых &laquo;кислое&raquo; выражение лица и они отказываются
      называть причины ухода или рассказывать о работе.</span><br><span style="color: #000000;">Штатные работники не
      идут на контакт и держатся отчужденно.</span><br><span style="color: #000000;">Вы испытываете дискомфорт и вам
      хочется уйти.</span><br><span style="color: #000000;">Вам обещают позвонить и не звонят.</span><br><span
      style="color: #000000;">С момента последнего контакта прошло более 2х недель и вы сами пытаетесь узнать о
      результатах.</span><br><span style="color: #000000;">После того, как вы с большим трудом дозвонились,
      представитель компании с трудом вспоминает кто вы такой и что вам нужно.&nbsp;</span><br><br><br><span
      style="color: #0000ff;">Что помогает найти работу</span><br><span style="color: #000000;">Профессиональные
      качества:</span><br><span style="color: #000000;">Высокая профессиональная квалификация;</span><br><span
      style="color: #000000;">Аккуратность и пунктуальность в работе;</span><br><span style="color: #000000;">Хорошее
      состояние здоровья.</span><br><span style="color: #000000;">Личные качества:</span><br><span
      style="color: #000000;">Находчивость;</span><br><span style="color: #000000;">Коммуникабельность;</span><br><span
      style="color: #000000;">Дружелюбие;</span><br><span style="color: #000000;">Терпеливость;</span><br><span
      style="color: #000000;">Упорство в достижении цели;</span><br><span style="color: #000000;">Вежливость,
      деликатность;</span><br><span style="color: #000000;">Уравновешенность;</span><br><span
      style="color: #000000;">Честолюбие;</span><br><span style="color: #000000;">Опрятность и
      чистоплотность.</span><br><br><br><span style="color: #0000ff;">Что мешает поиску работы</span><br><span
      style="color: #000000;">Профессиональные качества:</span><br><span style="color: #000000;">Низкая
      квалификация;</span><br><span style="color: #000000;">Отсутствие интереса к предлагаемой работе;</span><br><span
      style="color: #000000;">Заинтересованность только в высокой заработной плате;</span><br><span
      style="color: #000000;">Сверхквалифицированность для предлагаемой работы;</span><br><span
      style="color: #000000;">Плохие деловые качества.</span><br><span style="color: #000000;">Личные
      качества:</span><br><span style="color: #000000;">Самомнение &ndash; я все знаю;</span><br><span
      style="color: #000000;">Недостаток учтивости;</span><br><span
      style="color: #000000;">Нерешительность;</span><br><span style="color: #000000;">Плохое чувство
      юмора;</span><br><span style="color: #000000;">Циничность;</span><br><span style="color: #000000;">Низкий
      моральный уровень;</span><br><span style="color: #000000;">Узкий круг интересов;</span><br><span
      style="color: #000000;">Неряшливость;</span><br></span><span style="font-size: 14px; color: #000000;">Физические
    недостатки, препятствующие исполнению трудовой функции.</span><br>[/spoiler]<br><br></p>
<div style="text-align: justify;"><span style="font-size: 14px; color: #000000;">Уважаемые выпускники!</span><span
    style="font-size: 14px;"><br><span style="color: #000000;">Тем, кто хочет найти работу, предлагаем ряд вакансий в
      Управлении Федеральной службы судебных приставов.</span><br><br><br><b><span style="color: #000000;">Требования к
        должностям государственной гражданской службы:</span></b><br><br><br><span style="color: #000000;">1. Судебный
      пристав-исполнитель:&nbsp;<br>Возраст от 21 года.</span><br><span style="color: #000000;">Наличие высшего
      юридического/ экономического образования.</span><br><span style="color: #000000;">2. Судебный пристав по
      обеспечению установленного порядка деятельности судов:&nbsp;<br>Возраст от 21 года.&nbsp;<br>Наличие среднего /
      среднего профессионального образования&nbsp;<br>3. Главный специалист-эксперт (дознаватель):&nbsp;<br>Возраст от
      21 года.&nbsp;<br>Наличие высшего юридического образования.&nbsp;<br>4. Ведущий специалист-эксперт
      (дознаватель):&nbsp;<br>Возраст от 21 года.&nbsp;<br>Наличие высшего юридического образования.&nbsp;<br>5. Ведущий
      специалист-эксперт (по ведению депозитного счета):&nbsp;<br>Возраст от 18 лет.&nbsp;<br>Наличие высшего
      экономического образования.&nbsp;<br>6. Старший специалист 2/3 разряда:&nbsp;<br>Возраст от 18
      лет.&nbsp;<br>Наличие среднего/ среднего профессионального образования.</span><br><br><br><b><span
        style="color: #000000;">Для поступления&nbsp;</span></b><span style="color: #000000;">на государственную
      гражданскую службу в Управление Федеральной службы судебных приставов по Санкт-Петербургу необходимо ознакомится,
      и подготовить перечень документов, который опубликован на официальном сайте Управления
      http://r78.fssprus.ru/formy_dokumentov/ и предоставить в отдел государственной службы и кадров Управления.
      Подробную информацию можно получить у специалистов по тел. (812) 456-68-36.&nbsp;</span><br><br><br><span
      style="color: #000000;">Уважаемые студенты!</span><br><span style="color: #000000;">Предлагаем вам вакансии для
      работы.</span><br><span style="color: #000000;">Зеленым цветом выделены вакансии, где НЕ требуется опыт работы
      (стажировки, гибкий график и т.п.)</span><br><span style="color: #000000;">Желтым цветом выделены вакансии, где НЕ
      требуется опыт работы, но ПОЛНЫЙ РАБОЧИЙ ДЕНЬ.</span><br></span><span
    style="font-size: 14px; color: #000000;">Красным цветом выделены вакансии, где опыт работы от года
    ОБЯЗАТЕЛЕН.</span></div>
<p style="font-size: 15px; font-family: Calibri, sans-serif; text-align: justify; margin: 0cm 0cm .0001pt 0cm;"></p>
<h4>Предлагаем вам вакансии для работы</h4>
<p>[attachment=190]<br><br></p>
<h4><a href="https://www.r21.spb.ru/empl/vacancies.htm">Каталог вакансий центр занятости населения город
    Санкт-Петербург</a></h4>
<h4><a
    href="https://czn47.ru/vacancy/?WithoutAdditionalLimits=False&amp;ActivityScopeNoStandart=True&amp;SearchType=1&amp;Region=47&amp;HideWithEmptySalary=False&amp;ShowOnlyWithEmployerInfo=False&amp;ShowOnlyWithHousing=False&amp;Sort=1&amp;PageSize=0&amp;SpecialCategories=False">Каталог
    вакансий центр занятости населения Ленинградская область</a></h4>
<p><span style="font-size: 14px; font-family: 'Times New Roman', serif; color: #000000;">Арбитражный управляющий Кузьмин
    Игорь Сергеевич сообщает об открытии конкурсного отбора на&nbsp;стажировку (практику) на полный рабочий день по двум
    позициям:</span></p>
<p
  style="font-size: 15px; font-family: Calibri, sans-serif; text-align: justify; background: #FFFFFF; margin: 0cm 0cm .0001pt 0cm;">
</p>
<p
  style="font-size: 15px; font-family: Calibri, sans-serif; text-align: justify; background: #FFFFFF; margin: 0cm 0cm .0001pt 0cm;">
</p>
<table class="MsoNormalTable fr-solid-borders" style="width: 100%; background: #FFFFFF;" width="680" cellspacing="0"
  cellpadding="0" border="1">
  <tbody>
    <tr>
      <td style="margin-bottom: .0001pt; text-align: center; width: 105pt; padding: 0cm 0cm 0cm 0cm;" width="20%"><span
          style="font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">Работодатель</span></td>
      <td style="margin-bottom: .0001pt; text-align: center; width: 113.25pt; padding: 0cm 0cm 0cm 0cm;" width="22%">
        <span style="font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">Вакансия</span></td>
      <td style="margin-bottom: .0001pt; text-align: center; width: 127.5pt; padding: 0cm 0cm 0cm 0cm;" width="24%">
        <span style="font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">Отдел</span></td>
      <td style="margin-bottom: .0001pt; text-align: center; width: 165pt; padding: 0cm 0cm 0cm 0cm;" width="32%"><span
          style="font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">Контактная информация</span>
      </td>
    </tr>
    <tr>
      <td style="margin-bottom: .0001pt; width: 105pt; padding: 0cm; vertical-align: top;" width="20%" valign="top">
        <span style="font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">Арбитражный управляющий
          Кузьмин И.С.</span></td>
      <td style="margin-bottom: .0001pt; width: 113.25pt; padding: 0cm; vertical-align: top;" width="22%" valign="top">
        <span style="font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">Помощник арбитражного
          управляющего</span></td>
      <td style="margin-bottom: .0001pt; width: 127.5pt; padding: 0cm; vertical-align: top;" width="24%" valign="top">
        <span style="font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">Отдел корпоративных
          споров</span></td>
      <td style="width: 165pt; padding: 0cm; vertical-align: top;" width="32%" valign="top">
        <div style="margin-bottom: .0001pt; font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">
          191015 г. Санкт-Петербург, Суворовский пр-т, д. 59</div>
        <div class="MsoNormal" style="font-size: 15px; font-family: Calibri, sans-serif; margin: 0cm 0cm .0001pt 0cm;">
          <span style="font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">Тел.: 8 (812)
            242-89-13</span></div>
        <div style="margin-bottom: .0001pt; font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">
          e-mail: office@arbitrkuzmin.ru</div>
      </td>
    </tr>
    <tr>
      <td style="margin-bottom: .0001pt; width: 105pt; padding: 0cm; height: 100.45pt; vertical-align: top;" width="20%"
        valign="top"><span style="font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">Арбитражный
          управляющий Кузьмин И.С.</span></td>
      <td style="margin-bottom: .0001pt; width: 113.25pt; padding: 0cm; height: 100.45pt; vertical-align: top;"
        width="22%" valign="top"><span
          style="font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">Помощник юриста</span></td>
      <td style="margin-bottom: .0001pt; width: 127.5pt; padding: 0cm; height: 100.45pt; vertical-align: top;"
        width="24%" valign="top"><span
          style="font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">Юридический отдел</span></td>
      <td style="width: 165pt; padding: 0cm; height: 100.45pt; vertical-align: top;" width="32%" valign="top">
        <div style="margin-bottom: .0001pt; font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">
          191015 г. Санкт-Петербург, Суворовский пр-т, д. 59</div>
        <div class="MsoNormal" style="font-size: 15px; font-family: Calibri, sans-serif; margin: 0cm 0cm .0001pt 0cm;">
          <span style="font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">Тел.: 8 (812)
            242-89-13</span></div>
        <div style="margin-bottom: .0001pt; font-size: 19px; font-family: 'Times New Roman', serif; color: #000000;">
          e-mail: office@arbitrkuzmin.ru</div>
      </td>
    </tr>
  </tbody>
</table>
<p style="font-size: 15px; font-family: Calibri, sans-serif; text-align: justify; margin: 0cm 0cm .0001pt 0cm;"></p>
<p></p>