<h4>Положение о порядке перевода студентов из организаций высшего образования Российской Федерации в Негосударственное образовательное учреждение высшего профессионального образования "Санкт-Петербургская юридическая академия"</h4>
<p>[attachment=227]</p>
<div style="text-align: justify;"><span style="font-size: 14px;"><br><br><b>Прием документов на перевод и восстановление по всем формам обучения осуществляется круглогодично. </b> <br><br><b>Для подачи заявления на перевод или восстановление необходимы следующие документы: </b> <br><br>&bull;выписка о выполнении учебного плана (с указанием количества часов изученных дисциплин, курсовых работ, выполнения учебно-производственной практики); <br>&bull;ксерокопия паспорта; <br>&bull;Заявление оформляется при подаче документов. <br><br>Прием заявлений и документов для перевода и восстановления осуществляется Приемной комиссией (кабинет 106).</span></div>
<div style="text-align: justify;"></div>
<table class="fr-solid-borders" style="width: 100%;">
  <tbody>
    <tr>
      <td style="width: 12.4863%; text-align: center; vertical-align: top;"><span style="font-size: 14px;">Понедельник</span></td>
      <td style="width: 9.6386%; text-align: center; vertical-align: top;"><span style="font-size: 14px;">Вторник</span></td>
      <td style="width: 12.9245%; text-align: center; vertical-align: top;"><span style="font-size: 14px;">Среда</span></td>
      <td style="width: 14.7864%; text-align: center; vertical-align: top;"><span style="font-size: 14px;">Четверг</span></td>
      <td style="width: 21.3581%;">
        <div style="text-align: center;"><span style="font-size: 14px;">Пятница</span></div>
      </td>
      <td class="fr-red" style="width: 28.4775%; text-align: center; vertical-align: top;"><span style="font-size: 14px;">Обед</span></td>
    </tr>
    <tr>
      <td colspan="4" style="width: 48.0832%; text-align: center; vertical-align: middle;"><span style="font-size: 14px;">с 10 часов до 18 часов</span></td>
      <td style="width: 21.3582%;">
        <div style="text-align: center;"></div>
        <div style="text-align: center;"><span style="font-family: Verdana, Geneva, sans-serif; font-size: 14px;">с 10 часов до 17 часов&nbsp;</span></div>
      </td>
      <td class="fr-red" style="width: 28.4775%; vertical-align: middle; text-align: center;"><span style="font-size: 14px;">с 12 часов до 13 часов</span></td>
    </tr>
  </tbody>
</table>
<div style="text-align: justify;"></div>
<p></p>
<table style="width: 100%;">
  <tbody>
    <tr>
      <td style="width: 50.3834%; text-align: right;">
        <h5><span style="font-size: 14px;">Приёмная комиссия:&nbsp;</span></h5>
      </td>
      <td style="width: 49.5071%;">
        <h5><span style="font-size: 14px;">+7 (812) 677-00-07<br></span></h5>
      </td>
    </tr>
    <tr>
      <td style="width: 50.3834%;"></td>
      <td style="width: 49.5071%;">
        <h5><span style="font-size: 14px;">+7 (921) 951-34-33<br></span></h5>
      </td>
    </tr>
  </tbody>
</table>
<p></p>