<div style="text-align: justify;"></div>
<p></p>
<p><a class="highslide" href="https://jurac.ru/uploads/posts/2018-11/1542869968_ejbgjdvpbhw.jpg"><img src="https://jurac.ru/uploads/posts/2018-11/medium/1542869968_ejbgjdvpbhw.jpg" class="fr-fic fr-dii fr-shadows fr-bordered" style="width: 230px;" alt=""></a></p>
<p><b>Председатель Студенческого Совета:</b></p>
<p><i>Сычова Анастасия Алексеевна</i></p>
<p><i>(191 учебная группа)</i></p>
<p><br><br><br><br><br></p>
<table style="width: 100%;">
  <tbody>
    <tr>
      <td style="width: 33.3333%;">
        <h2>Контакты:</h2>
      </td>
      <td style="width: 33.3333%;">
        <h3>8 (812) 677-83-03</h3>
      </td>
      <td style="width: 33.3334%;">
        <h3></h3>
      </td>
    </tr>
  </tbody>
</table>
<hr>
<p><span style="color: #000000; font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;"><b>Савина Виталина Валерьевна</b><br></span><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';"><span style="color: #000000; font-size: 14px;">Заместитель председателя, 711М</span></span><span style="font-family: Verdana, Geneva, sans-serif;"><br></span></p>
<hr>
<p><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px; color: #000000;"><b>Проценко Надежда Юрьевна</b><br>Заместитель председателя, 172 учебная группа</span></p>
<hr>
<div style="text-align: center;"><span style="font-family: Verdana, Geneva, sans-serif;"><br></span>[media=http://www.youtube.com/watch?v=-eJCSiVam4w]</div>