<p><span style="font-size: 12pt;"><b><a href="https://jurac.ru/uploads/posts/2019-11/1573043443_mg_1446.jpg" class="highslide" target="_blank" rel="noopener"><img src="https://jurac.ru/uploads/posts/2019-11/medium/1573043443_mg_1446.jpg" style="float: left;" alt="" width="197" height="288"></a>&nbsp;</b></span></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<hr>
<p><span style="font-size: 12pt;"><b>Председатель Студенческого Совета:</b></span></p>
<p><span style="font-size: 12pt;"><i>Алексеева Александра Николаевна<br></i></span></p>
<p><span style="font-size: 12pt;"><i>(201 учебная группа)</i></span></p>
<p></p>
<hr>
<p></p>
<p></p>
<table style="width: 100%;">
  <tbody>
    <tr>
      <td style="width: 33.3333%;">
        <h2>Контакты:</h2>
      </td>
      <td style="width: 33.3333%;">
        <h3>8 (812) 677-83-03</h3>
      </td>
      <td style="width: 33.3334%;"></td>
    </tr>
  </tbody>
</table>
<hr>
<p><span style="font-size: 12pt;"><span style="color: #000000; font-family: 'Times New Roman', Times, serif, '-webkit-standard';"><b>Сычова Анастасия Алексеевна</b><br></span><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';"><span style="color: #000000;">Заместитель председателя, 191 учебная группа</span></span><span style="font-family: Verdana, Geneva, sans-serif;"><br></span></span></p>
<hr>
<p><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 12pt; color: #000000;"><b>Савина Виталина Валерьевна</b></span></p>
<p><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 12pt; color: #000000;">Секретарь, 711М учебная группа</span></p>
<hr>
<div style="text-align: center;"><span style="font-family: Verdana, Geneva, sans-serif;"><br></span>[media=http://www.youtube.com/watch?v=-eJCSiVam4w]</div>