<ul>
    <li><a class="button-1" href="https://jurac.ru/sveden/common">Основные сведения</a></li>
    <li><hr></li>
    <li><a class="button-1" href="https://jurac.ru/sveden/struct">Структура и органы управления образовательной организацией</a></li>
    <li><hr></li>
    <li><a class="button-1" href="https://jurac.ru/sveden/document">Документы</a></li>
    <li><hr></li>
    <li><a class="button-1" href="https://jurac.ru/sveden/education">Образование</a></li>
    <li><hr></li>
    <li><a class="button-1" href="https://jurac.ru/sveden/edustandarts">Образовательные стандарты</a></li>
    <li><hr></li>
    <li><a class="button-1" href="https://jurac.ru/sveden/employees">Руководство. Педагогический (научно-педагогический) состав</a></li>
    <li><hr></li>
    <li><a class="button-1" href="https://jurac.ru/sveden/objects">Материально-техническое обеспечение и оснащенность образовательного процесса</a></li>
    <li><hr></li>
    <li><a class="button-1" href="https://jurac.ru/sveden/grants">Стипендии и иные виды материальной поддержки</a></li>
    <li><hr></li>
    <li><a class="button-1" href="https://jurac.ru/sveden/paid_edu" target="_blank" rel="noopener">Платные образовательные услуги</a></li>
    <li><hr></li>
    <li><a class="button-1" href="https://jurac.ru/sveden/budget">Финансово-хозяйственная деятельность</a></li>
    <li><hr></li>
    <li><a class="button-1" href="https://jurac.ru/sveden/vacant">Вакантные места для приема (перевода)</a></li>
    <li><hr></li>
    <li><a class="button-1" href="https://jurac.ru/sveden/ovz">Доступная среда</a></li>
    <li><hr></li>
    <li><a class="button-1" href="https://jurac.ru/sveden/inter">Международное сотрудничество</a></li>
  </ul>