<div style="text-align: justify;"><span
            style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 24px;"><b>У</b></span><span
            style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">чебно-методический
            отдел Санкт-Петербургской юридической академии (далее - Академия) образован в соответствии с приказом
            ректора от 28 июня 2012 года № 75-о/д<br><br></span>
      <p align="justify"><span
                  style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 24px;"><b>У</b></span><span
                  style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">чебно-методический
                  отдел является одним из структурных подразделений Академии, обеспечивающих целенаправленную
                  согласованную деятельность факультетов, кафедр и других структурных подразделений Академии по
                  реализации образовательных программ обучения студентов в соответствии с требованиями федеральных
                  государственных образовательных стандартов высшего образования по направлениям подготовки бакалавров и
                  магистров.</span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">&nbsp;</span></span>
      </p>
      <p align="justify"><span style="font-size: 24px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';"><b>У</b></span></span><span
                  style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">чебно-методический
                        отдел осуществляет свою деятельность в соответствии с Конституцией Российской Федерации,
                        Федеральным законом от 29 декабря 2012 г. № 273-ФЗ &laquo;Об образовании в Российской
                        Федерации&raquo;, другими нормативными правовыми актами по вопросам высшего образования, Уставом
                        Академии и её локальными нормативными актами.</span></span></p>
      <span style="font-size: 18px;"><span
                  style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';"><br></span></span>
      <p align="justify"><b><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">Основными
                        задачами учебно-методического отдела являются:</span></b></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- организация и
                        контроль подготовки образовательных программ высшего образования, подготовки кадров высшей
                        квалификации, а также порядка организации и осуществления образовательной деятельности по
                        дополнительным профессиональным программам, включающим в себя: учебные планы, рабочие программы
                        учебных курсов, предметов, дисциплин (модулей) и другие материалы, обеспечивающие качество
                        подготовки обучающихся, программы учебной и производственной практик, государственной итоговой
                        аттестации, календарный учебный график и методические материалы, обеспечивающие реализацию
                        соответствующей образовательной технологии;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- проведение
                        самоанализа работы отдела, как структурного подразделения Академии;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- внедрение в учебный
                        процесс активных и интерактивных форм обучения;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- разработка и
                        контроль реализации в процессе обучения студентов учебных планов;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- контроль обеспечения
                        учебно-методической документацией и материалами всех учебных дисциплин (модулей) основных
                        образовательных программ, реализуемых в Академии;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- разработка и
                        внедрение, совместно с кафедрами, современных образовательных технологий и методик их применения
                        в учебно-воспитательном процессе Академии;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- организация и
                        контроль, в пределах своей компетенции, учебной и методической работы факультетов и кафедр,
                        реализации основных дидактических принципов, применяемых в процессе преподавания
                        дисциплин;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- контроль подготовки
                        учебно-методических комплексов дисциплин, преподаваемых на кафедрах, применения технических
                        средств обучения;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- составление
                        расписаний учебных занятий и других необходимых планирующих документов;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- контроль учета
                        движения студентов Академии и их успеваемости;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- учет педагогического
                        контроля учебных занятий, проводимых со студентами Академии;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- учет выполнения
                        учебной нагрузки профессорско-преподавательским составом;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- участие в разработке
                        и реализации совместно с факультетами и кафедрами, другими структурными подразделениями годового
                        плана работы и плана методической работы Академии на учебный год;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- участие в разработке
                        и реализации мероприятий по повышению эффективности учебно-воспитательного процесса и качества
                        подготовки выпускников;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- организация
                        разработки и внедрения научно-обоснованных критериев оценки качества учебного процесса и
                        подготовки юристов;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- анализ хода и итогов
                        промежуточного контроля успеваемости и итоговой аттестации;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- оптимизация
                        взаимодействия и взаимоотношения (служебных связей) с факультетами и кафедрами, другими
                        структурными подразделениями Академии, обеспечивающими подготовку юристов, а также с приёмной и
                        аттестационной комиссиями Академии;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- участие в подготовке
                        Академии к комплексной оценке ее деятельности с последующим лицензированием и аккредитацией.
                        &nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">К основным функциям
                        учебно-методического отдела относятся:</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- осуществление
                        контроля разработки и реализации факультетами, кафедрами, профессорско-преподавательским
                        составом учебных планов, рабочих учебных планов, учебных программ дисциплин, расписаний учебных
                        занятий и других необходимых планирующих документов;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- сбор и
                        систематизация нормативно-правовой информации, необходимой для планирования, организации и
                        осуществления учебного процесса;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- разработка совместно
                        с факультетами календарного графика учебного процесса;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- организация учета и
                        анализ педагогического контроля учебных занятий, проводимых со студентами;&nbsp;</span></span>
      </p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- организация и
                        осуществление учета выполнения учебной нагрузки профессорско-преподавательским составом с
                        последующим доведением данных о выполнении нагрузки до сведения ректората
                        Академии;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- участие в разработке
                        годового плана работы Академии по вопросам совершенствования учебно-воспитательного процесса,
                        плана методической работы Академии на учебный год;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- разработка и
                        реализация плана работы учебно-методического отдела на учебный год;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- изучение и
                        обеспечение внедрения эффективных перспективных методик и инновационных технологий обучения
                        студентов;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- осуществление
                        контроля комплектования фондов библиотеки и реализации мероприятий по информационному
                        обеспечению и компьютеризации учебно-воспитательного процесса;&nbsp;</span></span></p>
      <p align="justify"><span style="font-size: 18px;"><span
                        style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">- организация учета и
                        распределения аудиторного фонда для обеспечения учебного процесса;&nbsp;</span></span></p>
      <p align="justify"><span
                  style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">-
                  осуществление контроля подготовки и проведения вступительных испытаний, экзаменационных,
                  зачетно-экзаменационных и установочных сессий, итоговой аттестации выпускников Академии;&nbsp;</span>
      </p>
</div>
<p style="text-align: justify;"><span
            style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 18px;">- подготовка
            совместно с факультетами и кафедрами статистических отчетов, связанных с учебно-воспитательным процессом, а
            также планов, справок и других документов по обследованию и изучению учебно-методической работы на
            факультетах и кафедрах.&nbsp;</span></p>
<p></p>
<hr>
<p></p>
<table style="border-collapse: collapse; width: 100%; height: 401px;" border="1">
      <tbody>
            <tr style="height: 199px;">
                  <td style="width: 19.0141%; height: 199px;"><a
                              href="https://jurac.ru/uploads/posts/2019-10/1572001840_konstantinova.jpg"
                              class="highslide" target="_blank" rel="noopener"><img
                                    src="https://jurac.ru/uploads/posts/2019-10/medium/1572001840_konstantinova.jpg"
                                    style="float: left;" alt="" width="135" height="189"></a>&nbsp;</td>
                  <td style="width: 80.9859%; height: 199px;">
                        <p><b><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;">Начальник
                                          учебно-методического отдела</span></b></p>
                        <p><span style="font-size: 14px;"><span
                                          style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">Зелтабол
                                          Алла Евгеньевна &nbsp;</span></span></p>
                        <p><b>E-mail:</b><a href="mailto:umo@jurac.ru">&nbsp;umo@jurac.ru</a>&nbsp;</p>
                        <p align="justify"><b>Почтовый адрес:&nbsp;</b>Россия, 192012, Санкт-Петербург, проспект
                              Обуховской обороны, дом 114, Лит. А, каб.212 &nbsp;&nbsp;</p>
                        <p align="justify"><span
                                    style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;">Тел.
                                    (812) 677-83-05</span></p>
                  </td>
            </tr>
            <tr>
                  <td style="width: 19.0141%;"><a
                              href="https://jurac.ru/uploads/posts/2021-03/1616076982_img_20210218_104420.jpg"
                              class="highslide" target="_blank" rel="noopener"><img
                                    src="https://jurac.ru/uploads/posts/2021-03/medium/1616076982_img_20210218_104420.jpg"
                                    style="float: left;" alt="" width="132" height="170"></a>&nbsp;</td>
                  <td style="width: 80.9859%;">
                        <p><b><span
                                          style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;"></span></b>
                        </p>
                        <p><b><span
                                          style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;"></span></b>
                        </p>
                        <p><b><span
                                          style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;">С</span></b><span
                                    style="font-size: 14px;"><span
                                          style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';"><b>пециалист
                                                по учебно-методической работе&nbsp;</b></span></span></p>
                        <p>Савельева Ольга Витальевна</p>
                        <p><b>E-mail:</b><a href="https://e.mail.ru/compose/?mailto=mailto%3Aumo@jurac.ru"
                                    target="_blank" rel="noopener">&nbsp;umo@jurac.ru</a></p>
                        <p><b>Почтовый адрес:&nbsp;</b>Россия, 192012, Санкт-Петербург, проспект Обуховской обороны, дом
                              114, Лит. А.&nbsp;</p>
                        <p>Каб.210&nbsp;</p>
                        <p><span
                                    style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;">Тел.
                                    (812) 677-83-05</span></p>
                        <p><b><span
                                          style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;">&nbsp;</span></b>
                        </p>
                  </td>
            </tr>
            <tr>
                  <td style="width: 19.0141%;"><img src="https://jurac.ru/uploads/posts/2019-12/1576153296_fff.png"
                              style="float: left;" alt="" width="140" height="110">&nbsp;</td>
                  <td style="width: 80.9859%;">
                        <p><b><span
                                          style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;"></span></b>
                        </p>
                        <p><b><span
                                          style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;"></span></b>
                        </p>
                        <p><b><span style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;">Заместитель
                                          начальника учебно-методического отдела</span></b></p>
                        <p><span style="font-size: 14px;"><span
                                          style="font-family: 'Times New Roman', Times, serif, '-webkit-standard';">Корчевская
                                          Елена Павловна<br></span></span></p>
                        <p><b>E-mail:</b><a href="mailto:umo@jurac.ru">&nbsp;umo@jurac.ru</a>&nbsp;</p>
                        <p align="justify"><b>Почтовый адрес:&nbsp;</b>Россия, 192012, Санкт-Петербург, проспект
                              Обуховской обороны, дом 114, Лит. А, каб.212 &nbsp;&nbsp;</p>
                        <p align="justify"><span
                                    style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;">Тел.
                                    (812) 677-83-05</span></p>
                        <p align="justify"></p>
                        <p><b><span
                                          style="font-family: 'Times New Roman', Times, serif, '-webkit-standard'; font-size: 14px;">&nbsp;</span></b>
                        </p>
                  </td>
            </tr>
      </tbody>
</table>
<div style="text-align: center;"><a href="/otdely-i-otdeleniya.html">НАЗАД</a></div>