<ul>
    <li><a class="button-1" href="/rector.html">Ректорат</a></li>
    <li><hr></li>
    <li><a class="button-1" href="/subfaculty.html">Кафедры</a></li>
    <li><hr></li>
    <li><a class="button-1" href="/structure-council.html">Учёный совет</a></li>
    <li><hr></li>
    <li><a class="button-1" href="/faculty-400301.html">Факультет юриспруденции: Бакалавриат</a></li>
    <li><hr></li>
    <li><a class="button-1" href="/faculty-400401.html">Факультет юриспруденции: Магистратура</a></li>
    <li><hr></li>
    <li><a class="button-1" href="/otdely-i-otdeleniya.html">Отделы и отделения</a></li>
    <li><hr></li>
    <li><a class="button-1" href="/priemnaya-komissiya.html">Приёмная комиссия</a></li>
    <li><hr></li>
    <li><a class="button-1" href="/structure-sluzhba-glavnogo-inzhenera.html">Служба главного инженера</a></li>
    <li><hr></li>
    <li><a class="button-1" href="/uploads/files/2017-12/polog_centr_proforit_2016.pdf" target="_blank" rel="noopener">Центр профориентационной деятельности и практической подготовки обучающихся</a></li>
    <li><hr></li>
    <li><a class="button-1" href="/structure-tsentr-sodeystviya-trudoustroystvu-vypusknikov.html">Центр содействия трудоустройству выпускников</a></li>
    <li><hr></li>
    <li><a class="button-1" href="/structure-quality_central.html">Центр управления качеством образовательной деятельности</a></li>
    <li><hr></li>
    <li><a class="button-1" href="/structure-clinic.html">Юридическая клиника</a></li>
    <li><hr></li>
    <li><a class="button-1" href="/kabinet-zdorovya-dlya-veteranov.html">Кабинет здоровья для ветеранов</a></li>
    <li><hr></li>
    <li><a class="button-1" href="/structure-library.html">Библиотека</a></li>
  </ul>